In [1]:
import numpy as np
import pandas as pd
import os
import pickle
import time
import matplotlib.pyplot as plt

In [2]:
data_dir="C:\\Users\\Arda\\Downloads\\football_master\\Documantation\\Datas\\"

#### Usable Fixture Data

In [3]:
#We will explore usable_fixture data

fixtures= pd.read_csv("{}usable_fixture.csv".format(data_dir))
fixtures

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,0.0,2.0,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,1.0,2.0,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89016,1013058,Michel,UTC,2023-03-11T19:00:00+00:00,1678561200,1.678561e+09,1.678565e+09,7045.0,Estádio Bruno José Daniel,"Santo André, São Paulo",...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0
89017,1014793,NaN,UTC,2023-03-16T22:00:00+00:00,1679004000,1.679004e+09,1.679008e+09,5688.0,Estádio Primeiro de Maio,"São Bernardo do Campo, São Paulo",...,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
89018,1014794,NaN,UTC,2023-03-17T23:00:00+00:00,1679094000,NaN,NaN,5676.0,Estádio José Maria de Campos Maia,"Mirassol, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89019,1014795,NaN,UTC,2023-03-19T19:00:00+00:00,1679252400,NaN,NaN,258.0,Allianz Parque,"São Paulo, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89020,1014796,NaN,UTC,2023-03-21T00:00:00+00:00,1679356800,NaN,NaN,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Kolonlar
fixtures.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away',
       'score.extratime.home', 'score.extratime.away', 'score.penalty.home',
       'score.penalty.away'],
      dtype='object')

In [5]:
played_fixtures= fixtures[fixtures["fixture.status.short"]=="FT"]
nan_filter= played_fixtures.fillna(-1)

nan_filter=nan_filter.applymap(lambda x: 1 if x!= -1 else 0)
nan_filter

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,score.extratime.home,score.extratime.away,score.penalty.home,score.penalty.away
0,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,0,0,0,0
1,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
3,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89010,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
89011,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
89014,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
89015,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
89017,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0

In [6]:
nan_rate= 1- nan_filter.sum()/nan_filter.shape[0]
nan_rate.sort_values(ascending=False,inplace=True)

In [7]:
nan_rate

score.penalty.away        1.000000
score.penalty.home        1.000000
score.extratime.away      1.000000
score.extratime.home      1.000000
fixture.venue.id          0.300046
teams.away.winner         0.261830
teams.home.winner         0.261830
fixture.referee           0.016618
fixture.venue.city        0.004295
score.halftime.away       0.000588
score.halftime.home       0.000588
fixture.venue.name        0.000228
fixture.periods.first     0.000024
fixture.periods.second    0.000024
teams.away.name           0.000000
score.fulltime.away       0.000000
goals.home                0.000000
goals.away                0.000000
score.fulltime.home       0.000000
teams.away.id             0.000000
fixture.id                0.000000
teams.home.name           0.000000
teams.home.id             0.000000
league.round              0.000000
league.logo               0.000000
league.country            0.000000
league.name               0.000000
league.id                 0.000000
fixture.status.elapsed    0.000000
fixture.status.short      0.000000
fixture.status.long       0.000000
fixture.timestamp         0.000000
fixture.date              0.000000
fixture.timezone          0.000000
league.season             0.000000
dtype: float64

In [8]:
#Conclusion we will not use penalty and extratime features
#The other features with null values will be examinated
fixtures_v1= fixtures.drop(['score.extratime.home', 'score.extratime.away', 'score.penalty.home',
       'score.penalty.away'],axis=1)
fixtures_v1.head()

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away
0,185545,"Fredy Fautrel, France",UTC,2015-08-07T18:30:00+00:00,1438972200,1.438972e+09,1.438976e+09,NaN,Stade Pierre Mauroy,Lille,...,False,85,Paris Saint Germain,True,0.0,1.0,0.0,0.0,0.0,1.0
1,185546,"Wilfried Bien, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Stade de la Beaujoire,Nantes,...,True,90,Guingamp,False,1.0,0.0,0.0,0.0,1.0,0.0
2,185547,"Hakim Ben el Salem Hadj, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,660.0,Stade de la Mosson,Montpellier,...,False,77,Angers,True,0.0,2.0,0.0,1.0,0.0,2.0
3,185548,"Lionel Jaffredo, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,NaN,Allianz Rivera,Nice,...,False,91,Monaco,True,1.0,2.0,1.0,0.0,1.0,2.0
4,185549,"Frank Schneider, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,667.0,Orange Velodrome,Marseille,...,False,88,Caen,True,0.0,1.0,0.0,1.0,0.0,1.0

### Features Examination

#### Venue Id and Venue City

In [9]:
venues=fixtures_v1[["fixture.venue.id","fixture.venue.city"]]
venues

       fixture.venue.id                fixture.venue.city
0                   NaN                             Lille
1                   NaN                            Nantes
2                 660.0                       Montpellier
3                   NaN                              Nice
4                 667.0                         Marseille
...                 ...                               ...
89016            7045.0            Santo André, São Paulo
89017            5688.0  São Bernardo do Campo, São Paulo
89018            5676.0               Mirassol, São Paulo
89019             258.0              São Paulo, São Paulo
89020           10494.0                 Santos, São Paulo

[89021 rows x 2 columns]

In [10]:
venues[venues["fixture.venue.city"].isna()].drop_duplicates()

      fixture.venue.id fixture.venue.city
3080               NaN                NaN

In [11]:
#Conclusion:  records with null id values doesnt always corresponds to null city values.
            # But opposite situation happens. Null city record means null id record.

#### Away and Home Winner

In [12]:
fixtures_v1.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away'],
      dtype='object')

In [13]:
fixtures_v1[((fixtures_v1["teams.away.winner"].isna()) |(fixtures_v1["teams.home.winner"].isna()) ) 
 & (fixtures_v1["fixture.status.short"]=="FT")  ]

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away
6,185551,"Jerome Miguelgorry, France",UTC,2015-08-08T19:00:00+00:00,1439060400,1.439060e+09,1.439064e+09,684.0,Stade de l'Aube,Troyes,...,NaN,100,Gazelec FC Ajaccio,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9,185554,"Benoît Millot, France",UTC,2015-08-09T19:00:00+00:00,1439146800,1.439147e+09,1.439150e+09,NaN,Stade Municipal de Gerland,Lyon,...,NaN,97,Lorient,NaN,0.0,0.0,0.0,0.0,0.0,0.0
10,185555,"Benoît Millot, France",UTC,2015-08-14T18:30:00+00:00,1439577000,1.439577e+09,1.439581e+09,659.0,Stade Louis II,Monaco,...,NaN,79,Lille,NaN,0.0,0.0,0.0,0.0,0.0,0.0
11,185556,"Nicolas Rainville, France",UTC,2015-08-15T15:00:00+00:00,1439650800,1.439651e+09,1.439654e+09,676.0,Stade Geoffroy-Guichard,Saint Etienne,...,NaN,78,Bordeaux,NaN,1.0,1.0,0.0,0.0,1.0,1.0
12,185557,"Amaury Delerue, France",UTC,2015-08-15T18:00:00+00:00,1439661600,1.439662e+09,1.439665e+09,634.0,Stade Raymond-Kopa,Angers,...,NaN,83,Nantes,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88982,973833,Vinicius Gonçalves Dias Araujo,UTC,2023-02-16T22:30:00+00:00,1676586600,1.676587e+09,1.676590e+09,7045.0,Estádio Bruno José Daniel,"Santo André, São Paulo",...,NaN,128,Santos,NaN,1.0,1.0,0.0,0.0,1.0,1.0
88995,973846,Salim Fende Chavez,UTC,2023-02-26T23:40:00+00:00,1677454800,1.677455e+09,1.677458e+09,2936.0,Estádio Dr. Oswaldo Teixeira Duarte,"São Paulo, São Paulo",...,NaN,156,Sao Bento,NaN,0.0,0.0,0.0,0.0,0.0,0.0
89001,973852,Edina Alves Batista,UTC,2023-02-26T19:00:00+00:00,1677438000,1.677438e+09,1.677442e+09,10494.0,Estádio Urbano Caldeira,"Santos, São Paulo",...,NaN,131,Corinthians,NaN,2.0,2.0,1.0,1.0,2.0,2.0
89005,973856,Luiz Flávio,UTC,2023-03-05T19:00:00+00:00,1678042800,1.678043e+09,1.678046e+09,5658.0,Estádio Doutor Adhemar de Barros,"Araraquara, São Paulo",...,NaN,1201,Inter De Limeira,NaN,0.0,0.0,0.0,0.0,0.0,0.0
89006,973857,Thiago Luis Scarascati,UTC,2023-03-05T19:00:00+00:00,1678042800,1.678043e+09,1.678046e+09,242.0,Estádio Brinco de Ouro da Princesa,"Campinas, São Paulo",...,NaN,121,Palmeiras,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Nan values in winner features means draw

#### Lig Datas

In [15]:
leagues=fixtures_v1.groupby(["league.country","league.name","league.season"],as_index=False)["fixture.id"].count()
leagues

    league.country                 league.name  league.season  fixture.id
0        Argentina  Liga Profesional Argentina           2015         468
1        Argentina  Liga Profesional Argentina           2016         450
2        Argentina  Liga Profesional Argentina           2017         378
3        Argentina  Liga Profesional Argentina           2018         325
4        Argentina  Liga Profesional Argentina           2019         276
..             ...                         ...            ...         ...
278            USA         Major League Soccer           2023         493
279        Ukraine              Premier League           2021         240
280          World         FIFA Club World Cup           2020           7
281          World         FIFA Club World Cup           2021           8
282          World         FIFA Club World Cup           2022           7

[283 rows x 4 columns]

In [16]:

leagues_summary=leagues.groupby(["league.country","league.name"],as_index=False)[["league.season","fixture.id"]].aggregate(["min","max","count","mean"])
leagues_summary

                                          league.season              \
                                                    min   max count
league.country league.name
Argentina      Liga Profesional Argentina          2015  2023     8
Australia      A-League                            2015  2022     7
Austria        2. Liga                             2016  2021     5
               Bundesliga                          2015  2022     8
Belgium        Jupiler Pro League                  2018  2022     5
Brazil         Paulista - A1                       2023  2023     1
               Serie A                             2015  2022     8
               Serie B                             2019  2022     4
Bulgaria       First League                        2020  2021     2
Chile          Primera División                    2018  2023     6
China          Super League                        2016  2022     7
Colombia       Primera A                           2016  2023     6
Croatia        HNL                                 2020  2022     3
Cyprus         1. Division                         2018  2020     3
Czech-Republic Czech Liga                          2020  2021     2
Denmark        Superliga                           2019  2022     4
Ecuador        Liga Pro                            2023  2023     1
England        Championship                        2016  2022     7
               League One                          2019  2022     4
               League Two                          2020  2022     3
               Premier League                      2015  2022     8
France         Ligue 1                             2015  2022     8
               Ligue 2                             2017  2022     6
Germany        2. Bundesliga                       2015  2022     8
               3. Liga                             2020  2021     2
               Bundesliga                          2015  2022     8
Greece         Super League 1                      2016  2022     6
India          Indian Super League                 2018  2022     5
Italy          Serie A                             2015  2022     8
               Serie B                             2016  2022     7
Japan          J1 League                           2016  2023     8
Mexico         Liga MX                             2016  2022     6
Netherlands    Eerste Divisie                      2020  2022     3
               Eredivisie                          2015  2022     8
Norway         Eliteserien                         2016  2022     7
Peru           Primera División                    2018  2021     4
Poland         Ekstraklasa                         2018  2022     5
Portugal       Primeira Liga                       2015  2022     8
Romania        Liga I                              2020  2021     2
Russia         Premier League                      2016  2022     7
Saudi-Arabia   Pro League                          2016  2022     5
Scotland       Premiership                         2020  2022     3
Slovakia       Super Liga                          2021  2021     1
South-Korea    K League 1                          2020  2023     4
Spain          La Liga                             2015  2022     8
               Segunda División                    2016  2022     7
Sweden         Allsvenskan                         2016  2022     7
               Superettan                          2021  2021     1
Switzerland    Super League                        2017  2022     6
Turkey         1. Lig                              2020  2021     2
               Süper Lig                           2015  2022     8
USA            Major League Soccer                 2015  2023     9
Ukraine        Premier League                      2021  2021     1
World          FIFA Club World Cup                 2020  2022     3

                                                       fixture.id             \
                                                  mean        min  max count
league.country league.name
Argentina      Liga Profesional Argentina  2018.875000        276  581     8
Australia      A-League                    2018.285714        137  163     7
Austria        2. Liga                     2018.200000        180  240     5
               Bundesliga                  2018.500000        132  197     8
Belgium        Jupiler Pro League          2020.000000        240  333     5
Brazil         Paulista - A1               2023.000000        106  106     1
               Serie A                     2018.500000        380  380     8
               Serie B                     2020.500000        380  380     4
Bulgaria       First League                2020.500000        223  223     2
Chile          Primera División            2020.500000        240  307     6
China          Super League                2019.000000        162  306     7
Colombia       Primera A                   2019.166667        400  452     6
Croatia        HNL                         2021.000000        180  180     3
Cyprus         1. Division                 2019.000000        168  268     3
Czech-Republic Czech Liga                  2020.500000        280  306     2
Denmark        Superliga                   2020.500000        132  243     4
Ecuador        Liga Pro                    2023.000000        240  240     1
England        Championship                2019.000000        552  557     7
               League One                  2020.500000        552  557     4
               League Two                  2021.000000        552  557     3
               Premier League              2018.500000        380  380     8
France         Ligue 1                     2018.500000        380  382     8
               Ligue 2                     2019.500000        380  384     6
Germany        2. Bundesliga               2018.500000        306  308     8
               3. Liga                     2020.500000        380  380     2
               Bundesliga                  2018.500000        306  308     8
Greece         Super League 1              2019.333333        240  252     6
India          Indian Super League         2020.000000         95  117     5
Italy          Serie A                     2018.500000        380  380     8
               Serie B                     2019.000000        342  472     7
Japan          J1 League                   2019.500000        306  380     8
Mexico         Liga MX                     2019.333333        324  342     6
Netherlands    Eerste Divisie              2021.000000        380  380     3
               Eredivisie                  2018.500000        306  324     8
Norway         Eliteserien                 2019.000000        240  479     7
Peru           Primera División            2019.500000        238  475     4
Poland         Ekstraklasa                 2020.000000        240  306     5
Portugal       Primeira Liga               2018.500000        306  308     8
Romania        Liga I                      2020.500000        317  321     2
Russia         Premier League              2019.000000        240  244     7
Saudi-Arabia   Pro League                  2019.400000        182  240     5
Scotland       Premiership                 2021.000000        198  234     3
Slovakia       Super Liga                  2021.000000        197  197     1
South-Korea    K League 1                  2021.500000        162  232     4
Spain          La Liga                     2018.500000        380  380     8
               Segunda División            2019.000000        462  468     7
Sweden         Allsvenskan                 2019.000000        240  242     7
               Superettan                  2021.000000        244  244     1
Switzerland    Super League                2019.500000        180  182     6
Turkey         1. Lig                      2020.500000        311  347     2
               Süper Lig                   2018.500000        306  420     8
USA            Major League Soccer         2019.000000        333  493     9
Ukraine        Premier League              2021.000000        240  240     1
World          FIFA Club World Cup         2021.000000          7    8     3


                                                 mean
league.country league.name
Argentina      Liga Profesional Argentina  444.125000
Australia      A-League                    146.285714
Austria        2. Liga                     216.000000
               Bundesliga                  181.750000
Belgium        Jupiler Pro League          296.200000
Brazil         Paulista - A1               106.000000
               Serie A                     380.000000
               Serie B                     380.000000
Bulgaria       First League                223.000000
Chile          Primera División            256.500000
China          Super League                229.714286
Colombia       Primera A                   428.000000
Croatia        HNL                         180.000000
Cyprus         1. Division                 205.333333
Czech-Republic Czech Liga                  293.000000
Denmark        Superliga                   190.250000
Ecuador        Liga Pro                    240.000000
England        Championship                556.285714
               League One                  555.750000
               League Two                  555.333333
               Premier League              380.000000
France         Ligue 1                     380.500000
               Ligue 2                     381.666667
Germany        2. Bundesliga               306.750000
               3. Liga                     380.000000
               Bundesliga                  307.000000
Greece         Super League 1              243.000000
India          Indian Super League         107.400000
Italy          Serie A                     380.000000
               Serie B                     404.571429
Japan          J1 League                   315.750000
Mexico         Liga MX                     335.666667
Netherlands    Eerste Divisie              380.000000
               Eredivisie                  312.375000
Norway         Eliteserien                 274.571429
Peru           Primera División            345.250000
Poland         Ekstraklasa                 288.800000
Portugal       Primeira Liga               306.500000
Romania        Liga I                      319.000000
Russia         Premier League              240.571429
Saudi-Arabia   Pro League                  228.400000
Scotland       Premiership                 222.000000
Slovakia       Super Liga                  197.000000
South-Korea    K League 1                  205.500000
Spain          La Liga                     380.000000
               Segunda División            466.857143
Sweden         Allsvenskan                 241.142857
               Superettan                  244.000000
Switzerland    Super League                181.000000
Turkey         1. Lig                      329.000000
               Süper Lig                   334.000000
USA            Major League Soccer         413.333333
Ukraine        Premier League              240.000000
World          FIFA Club World Cup           7.333333

In [17]:
leagues_summary.sort_values(("league.season","count"),ascending=False)

                                          league.season              \
                                                    min   max count
league.country league.name
USA            Major League Soccer                 2015  2023     9
Argentina      Liga Profesional Argentina          2015  2023     8
Spain          La Liga                             2015  2022     8
Italy          Serie A                             2015  2022     8
Germany        Bundesliga                          2015  2022     8
               2. Bundesliga                       2015  2022     8
France         Ligue 1                             2015  2022     8
England        Premier League                      2015  2022     8
Netherlands    Eredivisie                          2015  2022     8
Japan          J1 League                           2016  2023     8
Portugal       Primeira Liga                       2015  2022     8
Austria        Bundesliga                          2015  2022     8
Turkey         Süper Lig                           2015  2022     8
Brazil         Serie A                             2015  2022     8
Sweden         Allsvenskan                         2016  2022     7
Spain          Segunda División                    2016  2022     7
Australia      A-League                            2015  2022     7
China          Super League                        2016  2022     7
Italy          Serie B                             2016  2022     7
Norway         Eliteserien                         2016  2022     7
England        Championship                        2016  2022     7
Russia         Premier League                      2016  2022     7
France         Ligue 2                             2017  2022     6
Switzerland    Super League                        2017  2022     6
Mexico         Liga MX                             2016  2022     6
Chile          Primera División                    2018  2023     6
Greece         Super League 1                      2016  2022     6
Colombia       Primera A                           2016  2023     6
Poland         Ekstraklasa                         2018  2022     5
Saudi-Arabia   Pro League                          2016  2022     5
India          Indian Super League                 2018  2022     5
Austria        2. Liga                             2016  2021     5
Belgium        Jupiler Pro League                  2018  2022     5
Brazil         Serie B                             2019  2022     4
England        League One                          2019  2022     4
Peru           Primera División                    2018  2021     4
Denmark        Superliga                           2019  2022     4
South-Korea    K League 1                          2020  2023     4
World          FIFA Club World Cup                 2020  2022     3
England        League Two                          2020  2022     3
Cyprus         1. Division                         2018  2020     3
Scotland       Premiership                         2020  2022     3
Netherlands    Eerste Divisie                      2020  2022     3
Croatia        HNL                                 2020  2022     3
Turkey         1. Lig                              2020  2021     2
Germany        3. Liga                             2020  2021     2
Bulgaria       First League                        2020  2021     2
Czech-Republic Czech Liga                          2020  2021     2
Romania        Liga I                              2020  2021     2
Sweden         Superettan                          2021  2021     1
Brazil         Paulista - A1                       2023  2023     1
Ecuador        Liga Pro                            2023  2023     1
Ukraine        Premier League                      2021  2021     1
Slovakia       Super Liga                          2021  2021     1

                                                       fixture.id             \
                                                  mean        min  max count
league.country league.name
USA            Major League Soccer         2019.000000        333  493     9
Argentina      Liga Profesional Argentina  2018.875000        276  581     8
Spain          La Liga                     2018.500000        380  380     8
Italy          Serie A                     2018.500000        380  380     8
Germany        Bundesliga                  2018.500000        306  308     8
               2. Bundesliga               2018.500000        306  308     8
France         Ligue 1                     2018.500000        380  382     8
England        Premier League              2018.500000        380  380     8
Netherlands    Eredivisie                  2018.500000        306  324     8
Japan          J1 League                   2019.500000        306  380     8
Portugal       Primeira Liga               2018.500000        306  308     8
Austria        Bundesliga                  2018.500000        132  197     8
Turkey         Süper Lig                   2018.500000        306  420     8
Brazil         Serie A                     2018.500000        380  380     8
Sweden         Allsvenskan                 2019.000000        240  242     7
Spain          Segunda División            2019.000000        462  468     7
Australia      A-League                    2018.285714        137  163     7
China          Super League                2019.000000        162  306     7
Italy          Serie B                     2019.000000        342  472     7
Norway         Eliteserien                 2019.000000        240  479     7
England        Championship                2019.000000        552  557     7
Russia         Premier League              2019.000000        240  244     7
France         Ligue 2                     2019.500000        380  384     6
Switzerland    Super League                2019.500000        180  182     6
Mexico         Liga MX                     2019.333333        324  342     6
Chile          Primera División            2020.500000        240  307     6
Greece         Super League 1              2019.333333        240  252     6
Colombia       Primera A                   2019.166667        400  452     6
Poland         Ekstraklasa                 2020.000000        240  306     5
Saudi-Arabia   Pro League                  2019.400000        182  240     5
India          Indian Super League         2020.000000         95  117     5
Austria        2. Liga                     2018.200000        180  240     5
Belgium        Jupiler Pro League          2020.000000        240  333     5
Brazil         Serie B                     2020.500000        380  380     4
England        League One                  2020.500000        552  557     4
Peru           Primera División            2019.500000        238  475     4
Denmark        Superliga                   2020.500000        132  243     4
South-Korea    K League 1                  2021.500000        162  232     4
World          FIFA Club World Cup         2021.000000          7    8     3
England        League Two                  2021.000000        552  557     3
Cyprus         1. Division                 2019.000000        168  268     3
Scotland       Premiership                 2021.000000        198  234     3
Netherlands    Eerste Divisie              2021.000000        380  380     3
Croatia        HNL                         2021.000000        180  180     3
Turkey         1. Lig                      2020.500000        311  347     2
Germany        3. Liga                     2020.500000        380  380     2
Bulgaria       First League                2020.500000        223  223     2
Czech-Republic Czech Liga                  2020.500000        280  306     2
Romania        Liga I                      2020.500000        317  321     2
Sweden         Superettan                  2021.000000        244  244     1
Brazil         Paulista - A1               2023.000000        106  106     1
Ecuador        Liga Pro                    2023.000000        240  240     1
Ukraine        Premier League              2021.000000        240  240     1
Slovakia       Super Liga                  2021.000000        197  197     1


                                                 mean
league.country league.name
USA            Major League Soccer         413.333333
Argentina      Liga Profesional Argentina  444.125000
Spain          La Liga                     380.000000
Italy          Serie A                     380.000000
Germany        Bundesliga                  307.000000
               2. Bundesliga               306.750000
France         Ligue 1                     380.500000
England        Premier League              380.000000
Netherlands    Eredivisie                  312.375000
Japan          J1 League                   315.750000
Portugal       Primeira Liga               306.500000
Austria        Bundesliga                  181.750000
Turkey         Süper Lig                   334.000000
Brazil         Serie A                     380.000000
Sweden         Allsvenskan                 241.142857
Spain          Segunda División            466.857143
Australia      A-League                    146.285714
China          Super League                229.714286
Italy          Serie B                     404.571429
Norway         Eliteserien                 274.571429
England        Championship                556.285714
Russia         Premier League              240.571429
France         Ligue 2                     381.666667
Switzerland    Super League                181.000000
Mexico         Liga MX                     335.666667
Chile          Primera División            256.500000
Greece         Super League 1              243.000000
Colombia       Primera A                   428.000000
Poland         Ekstraklasa                 288.800000
Saudi-Arabia   Pro League                  228.400000
India          Indian Super League         107.400000
Austria        2. Liga                     216.000000
Belgium        Jupiler Pro League          296.200000
Brazil         Serie B                     380.000000
England        League One                  555.750000
Peru           Primera División            345.250000
Denmark        Superliga                   190.250000
South-Korea    K League 1                  205.500000
World          FIFA Club World Cup           7.333333
England        League Two                  555.333333
Cyprus         1. Division                 205.333333
Scotland       Premiership                 222.000000
Netherlands    Eerste Divisie              380.000000
Croatia        HNL                         180.000000
Turkey         1. Lig                      329.000000
Germany        3. Liga                     380.000000
Bulgaria       First League                223.000000
Czech-Republic Czech Liga                  293.000000
Romania        Liga I                      319.000000
Sweden         Superettan                  244.000000
Brazil         Paulista - A1               106.000000
Ecuador        Liga Pro                    240.000000
Ukraine        Premier League              240.000000
Slovakia       Super Liga                  197.000000

In [18]:
#Notes: Season year show start year of the season. Ex: 2022 means 2022-2023 season
#Normaly all leagues are updated. But due to data quality reasons we exclude some of the seasons.

In [52]:
# In order to make more relevant and goal oriented we only choose Europa teams

In [104]:
non_eu= ["Ecuador","Brazil","Cyprus","Word","South-Korea","Peru","India","Saudi-Arabia",
         "Colombia","Chile","Mexico","Australia","Japan","Argentina","USA","World","Europe"]

In [105]:
fixtures_v2=fixtures_v1[fixtures_v1["league.country"].isin(non_eu)==False]

#### MATCH STATUS

In [61]:
fixtures_v2.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away'],
      dtype='object')

In [62]:
fixtures_v2[['fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed']].drop_duplicates()

      fixture.status.long fixture.status.short  fixture.status.elapsed
0          Match Finished                   FT                    90.0
1791      Match Cancelled                 CANC                     NaN
2663       Match Finished                  PEN                   120.0
2934          Not Started                   NS                     NaN
2937          Second Half                   2H                    56.0
2964   Time to be defined                  TBD                     NaN
4371      Match Postponed                  PST                     NaN
4485          Second Half                   2H                    71.0
10502         Second Half                   2H                    55.0
12976         Second Half                   2H                    84.0
15981         Second Half                   2H                    69.0
16104      Match Finished                  AET                   120.0
20965            Halftime                   HT                    45.0
29841      Technical loss                  AWD                     NaN
43567     Match Cancelled                 Canc                     NaN
45616         Second Half                   2H                    66.0
62130         Second Half                   2H                    59.0
64988         Second Half                   2H                    87.0
84908         Second Half                   2H                    82.0

In [63]:
league_stat=fixtures_v2.groupby(["league.country","league.name","league.season","fixture.status.long"],as_index=False)["fixture.id"].count()
leagues_stat_summary=league_stat.groupby(["league.country","league.name","fixture.status.long"],as_index=False).aggregate({"fixture.id":"sum","league.season":("min","max")})
leagues_stat_summary

    league.country         league.name fixture.status.long fixture.id  \
                                                                  sum
0          Austria             2. Liga      Match Finished       1080
1          Austria          Bundesliga      Match Finished       1448
2          Austria          Bundesliga         Not Started          6
3          Belgium  Jupiler Pro League     Match Cancelled          9
4          Belgium  Jupiler Pro League      Match Finished       1426
..             ...                 ...                 ...        ...
102         Turkey           Süper Lig     Match Postponed         85
103         Turkey           Süper Lig         Not Started          6
104         Turkey           Süper Lig      Technical loss          1
105        Ukraine      Premier League     Match Cancelled         97
106        Ukraine      Premier League      Match Finished        143

    league.season
              min   max
0            2016  2021
1            2015  2022
2            2022  2022
3            2019  2021
4            2018  2022
..            ...   ...
102          2022  2022
103          2022  2022
104          2022  2022
105          2021  2021
106          2021  2021

[107 rows x 6 columns]

In [64]:
unusuals= leagues_stat_summary[(leagues_stat_summary["fixture.status.long"]!="Match Finished") & (leagues_stat_summary["fixture.status.long"]!="Not Started")
 & (leagues_stat_summary["fixture.status.long"]!="Time to be defined")      ]
unusuals.sort_values(("fixture.id","sum"),ascending=False,inplace=True)
unusuals

C:\Users\Arda\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

    league.country         league.name fixture.status.long fixture.id  \
                                                                  sum
66          Norway         Eliteserien     Match Cancelled        238
18         England          League One     Match Cancelled        147
30          France             Ligue 1     Match Cancelled        101
35          France             Ligue 2     Match Cancelled        100
105        Ukraine      Premier League     Match Cancelled         97
102         Turkey           Süper Lig     Match Postponed         85
61     Netherlands          Eredivisie     Match Cancelled         74
100         Turkey           Süper Lig     Match Cancelled         28
3          Belgium  Jupiler Pro League     Match Cancelled          9
42         Germany             3. Liga     Match Cancelled          7
20         England          League One     Match Postponed          5
80          Russia      Premier League      Technical loss          4
27         England      Premier League     Match Postponed          4
9            China        Super League     Match Cancelled          2
70          Poland         Ekstraklasa         Second Half          1
104         Turkey           Süper Lig      Technical loss          1
7          Belgium  Jupiler Pro League         Second Half          1
92           Spain    Segunda División         Second Half          1
88           Spain             La Liga         Second Half          1
76         Romania              Liga I     Match Cancelled          1
72        Portugal       Primeira Liga            Halftime          1
29         England      Premier League         Second Half          1
63     Netherlands          Eredivisie     Match Postponed          1
22         England          League One         Second Half          1
59     Netherlands      Eerste Divisie     Match Postponed          1
57           Italy             Serie B         Second Half          1
5          Belgium  Jupiler Pro League     Match Postponed          1
46         Germany          Bundesliga         Second Half          1
24         England          League Two     Match Postponed          1
33          France             Ligue 1         Second Half          1
53           Italy             Serie A         Second Half          1

    league.season
              min   max
66           2021  2021
18           2019  2019
30           2019  2019
35           2019  2019
105          2021  2021
102          2022  2022
61           2019  2019
100          2022  2022
3            2019  2021
42           2021  2021
20           2019  2019
80           2019  2019
27           2022  2022
9            2022  2022
70           2022  2022
104          2022  2022
7            2022  2022
92           2022  2022
88           2022  2022
76           2021  2021
72           2022  2022
29           2022  2022
63           2022  2022
22           2022  2022
59           2022  2022
57           2022  2022
5            2022  2022
46           2022  2022
24           2022  2022
33           2022  2022
53           2022  2022

##### Posponed Matchs

In [65]:
relavite_data=fixtures_v1[(fixtures_v1["league.country"]=="England") & (fixtures_v1["league.name"]== "Premier League")
                          & (fixtures_v1["league.season"]==2022)
                         ][["fixture.id",'fixture.date',"fixture.status.long",'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', "league.season"]]
relavite_data

,fixture.id,fixture.date,fixture.status.long,teams.home.id,teams.home.name,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,league.season
10225,867946,2022-08-05T19:00:00+00:00,Match Finished,52,Crystal Palace,False,42,Arsenal,True,2022
10226,867947,2022-08-06T11:30:00+00:00,Match Finished,36,Fulham,NaN,40,Liverpool,NaN,2022
10227,867948,2022-08-06T14:00:00+00:00,Match Finished,35,Bournemouth,True,66,Aston Villa,False,2022
10228,867949,2022-08-06T14:00:00+00:00,Match Finished,63,Leeds,True,39,Wolves,False,2022
10229,867950,2022-08-07T13:00:00+00:00,Match Finished,46,Leicester,NaN,55,Brentford,NaN,2022
...,...,...,...,...,...,...,...,...,...,...
10600,868321,2023-05-28T15:30:00+00:00,Not Started,45,Everton,NaN,35,Bournemouth,NaN,2022
10601,868322,2023-05-28T15:30:00+00:00,Not Started,63,Leeds,NaN,47,Tottenham,NaN,2022
10602,868323,2023-05-28T15:30:00+00:00,Not Started,46,Leicester,NaN,48,West Ham,NaN,2022
10603,868324,2023-05-28T15:30:00+00:00,Not Started,33,Manchester United,NaN,36,Fulham,NaN,2022
10604,868325,2023-05-28T15:30:00+00:00,Not Started,41,Southampton,NaN,40,Liverpool,NaN,2022

In [66]:
relavite_data.groupby("fixture.status.long",as_index=False)["fixture.id"].count()

  fixture.status.long  fixture.id
0      Match Finished         263
1     Match Postponed           4
2         Not Started         112
3         Second Half           1

In [67]:
#Another fixture.id is created for matches that posponed

In [68]:
relavite_data=fixtures_v1[(fixtures_v1["league.country"]=="Norway") & (fixtures_v1["league.name"]== "Eliteserien")
                          & (fixtures_v1["league.season"]==2021)
                         ][["fixture.id",'fixture.date',"fixture.status.long",'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', "league.season"]]
relavite_data

,fixture.id,fixture.date,fixture.status.long,teams.home.id,teams.home.name,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,league.season
66274,681607,2021-04-05T13:00:00+00:00,Match Cancelled,323,Stabaek,NaN,330,ODD Ballklubb,NaN,2021
66275,681608,2021-04-05T16:00:00+00:00,Match Cancelled,327,Bodo/Glimt,NaN,319,Brann,NaN,2021
66276,681609,2021-04-05T16:00:00+00:00,Match Cancelled,328,Haugesund,NaN,325,Tromso,NaN,2021
66277,681610,2021-04-05T16:00:00+00:00,Match Cancelled,320,Kristiansund BK,NaN,321,Lillestrom,NaN,2021
66278,681611,2021-04-05T16:00:00+00:00,Match Cancelled,2152,Mjondalen,NaN,332,Sandefjord,NaN,2021
...,...,...,...,...,...,...,...,...,...,...
66748,699397,2021-12-12T16:00:00+00:00,Match Finished,2152,Mjondalen,False,327,Bodo/Glimt,True,2021
66749,699398,2021-12-12T16:00:00+00:00,Match Finished,330,ODD Ballklubb,True,323,Stabaek,False,2021
66750,699399,2021-12-12T16:00:00+00:00,Match Finished,331,Rosenborg,NaN,324,Stromsgodset,NaN,2021
66751,699400,2021-12-12T16:00:00+00:00,Match Finished,325,Tromso,False,759,Viking,True,2021
66752,816642,2021-12-15T18:00:00+00:00,Match Finished,319,Brann,False,2151,jerv,True,2021

In [69]:
relavite_data.groupby("fixture.status.long",as_index=False)["fixture.id"].count()

  fixture.status.long  fixture.id
0     Match Cancelled         238
1      Match Finished         241

In [28]:
#Another fixture.id is created for matches that cancelled

In [70]:
relative_data=fixtures_v1[fixtures_v1["fixture.status.long"]=="Second Half"
                         
                         ][["fixture.id",'fixture.date',"fixture.status.long",'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', "league.season"]]

In [71]:
relative_data

,fixture.id,fixture.date,fixture.status.long,teams.home.id,teams.home.name,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,league.season
2937,871743,2023-03-17T20:00:00+00:00,Second Half,80,Lyon,NaN,83,Nantes,NaN,2022
4485,874994,2023-03-17T19:45:00+00:00,Second Half,741,Cercle Brugge,NaN,742,Genk,NaN,2022
10502,868223,2023-03-17T20:00:00+00:00,Second Half,65,Nottingham Forest,NaN,34,Newcastle,NaN,2022
12976,871385,2023-03-17T19:30:00+00:00,Second Half,163,Borussia Monchengladbach,True,162,Werder Bremen,False,2022
15981,882040,2023-03-17T19:45:00+00:00,Second Half,499,Atalanta,NaN,511,Empoli,NaN,2022
23968,878198,2023-03-17T20:00:00+00:00,Second Half,720,Valladolid,False,531,Athletic Club,True,2022
45616,875942,2023-03-17T19:45:00+00:00,Second Half,74,Sheffield Wednesday,NaN,68,Bolton,NaN,2022
62130,878673,2023-03-17T20:00:00+00:00,Second Half,535,Malaga,NaN,539,Levante,NaN,2022
64988,903837,2023-03-17T19:30:00+00:00,Second Half,522,Palermo,True,899,Modena,False,2022
84908,865301,2023-03-17T19:30:00+00:00,Second Half,4248,Radomiak Radom,False,339,Legia Warszawa,True,2022

In [72]:
#second half and First half means: Match that are played at the moment. So the records shouldnt be used.

### Last Seasons Goals

In [76]:
new_seasons=fixtures_v2[(fixtures_v2["league.season"]>=2022) & (fixtures_v2["fixture.status.long"]=="Match Finished")]
new_seasons["Total_Goals"]=new_seasons["goals.home"] +new_seasons["goals.away"]
new_seasons

C:\Users\Arda\AppData\Local\Temp/ipykernel_10676/1200976672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_seasons["Total_Goals"]=new_seasons["goals.home"] +new_seasons["goals.away"]

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,teams.away.id,teams.away.name,teams.away.winner,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away,Total_Goals
2664,871470,"Francois Letexier, France",UTC,2022-08-06T15:00:00+00:00,1659798000,1.659798e+09,1.659802e+09,681.0,Stade de la Meinau,Strasbourg,...,91,Monaco,True,1.0,2.0,0.0,1.0,1.0,2.0,3.0
2665,871471,"Bastien Dechepy, France",UTC,2022-08-07T15:05:00+00:00,1659884700,1.659885e+09,1.659888e+09,680.0,Roazhon Park,Rennes,...,97,Lorient,True,0.0,1.0,0.0,0.0,0.0,1.0,1.0
2666,871472,"Jeremy Stinat, France",UTC,2022-08-06T19:00:00+00:00,1659812400,1.659812e+09,1.659816e+09,644.0,Stade Gabriel Montpied,Clermont-Ferrand,...,85,Paris Saint Germain,True,0.0,5.0,0.0,3.0,0.0,5.0,5.0
2667,871473,"Johan Hamel, France",UTC,2022-08-07T11:00:00+00:00,1659870000,1.659870e+09,1.659874e+09,682.0,Stadium de Toulouse,Toulouse,...,84,Nice,NaN,1.0,1.0,1.0,0.0,1.0,1.0,2.0
2668,871474,"Benoît Bastien, France",UTC,2022-08-05T19:00:00+00:00,1659726000,1.659726e+09,1.659730e+09,666.0,Groupama Stadium,Décines-Charpieu,...,98,Ajaccio,False,2.0,1.0,2.0,1.0,2.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84900,865293,D. Kos,UTC,2023-03-12T16:30:00+00:00,1678638600,1.678639e+09,1.678642e+09,1253.0,Stadion Miejski Legii Warszawa im. Marszałka J...,Warszawa,...,3493,Stal Mielec,False,2.0,0.0,0.0,0.0,2.0,0.0,2.0
84901,865294,P. Raczkowski,UTC,2023-03-10T19:30:00+00:00,1678476600,1.678477e+09,1.678480e+09,18633.0,Miejski Stadion Piłkarski Raków,Częstochowa,...,337,Slask Wroclaw,False,4.0,1.0,1.0,0.0,4.0,1.0,5.0
84902,865295,W. Myć,UTC,2023-03-12T11:30:00+00:00,1678620600,1.678621e+09,1.678624e+09,10506.0,Stadion Groclinu Dyskobolii,Grodzisk Wielkopolski,...,350,Cracovia Krakow,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84903,865296,D. Sylwestrzak,UTC,2023-03-13T18:00:00+00:00,1678730400,1.678730e+09,1.678734e+09,1259.0,Stadion im. Kazimierza Górskiego,Płock,...,6962,Widzew Łódź,NaN,1.0,1.0,1.0,0.0,1.0,1.0,2.0
84906,865299,"Daniel Stefanski, Poland",UTC,2023-03-17T17:00:00+00:00,1679072400,1.679072e+09,1.679076e+09,18625.0,Stadion im. Ernesta Pohla,Zabrze,...,341,Wisla Plock,False,3.0,2.0,0.0,2.0,3.0,2.0,5.0

In [77]:
def third_q(x):
    return x.quantile(0.75)
def first_q(x):
    return x.quantile(0.25)

In [78]:
goal_sum= new_seasons.groupby("league.name",as_index=False)["Total_Goals"].aggregate(["min","max","mean",first_q,"median",third_q,"count"])
goal_sum.sort_values("median",ascending=False)

                    min   max      mean  first_q  median  third_q  count
league.name
2. Bundesliga       0.0   9.0  2.866972      2.0     3.0      4.0    218
Jupiler Pro League  0.0  10.0  3.000000      2.0     3.0      4.0    260
Super League        0.0   9.0  2.860849      2.0     3.0      4.0    424
Premiership         0.0   9.0  2.946429      2.0     3.0      4.0    168
Premier League      0.0   9.0  2.855422      2.0     3.0      4.0    415
Ligue 1             0.0   8.0  2.833333      2.0     3.0      4.0    270
Allsvenskan         0.0   8.0  2.760331      2.0     3.0      4.0    242
Süper Lig           0.0   9.0  2.941441      2.0     3.0      4.0    222
Eliteserien         0.0   9.0  3.256198      2.0     3.0      4.0    242
Bundesliga          0.0   8.0  3.084795      2.0     3.0      4.0    342
Eerste Divisie      0.0  13.0  3.088435      2.0     3.0      4.0    294
Eredivisie          0.0  10.0  3.017778      2.0     3.0      4.0    225
HNL                 0.0   9.0  2.555556      1.0     2.0      3.0    126
Segunda División    0.0   7.0  1.938416      1.0     2.0      3.0    341
Superliga           0.0   7.0  2.722222      2.0     2.0      4.0    126
Super League 1      0.0   7.0  2.274725      1.0     2.0      3.0    182
Serie B             0.0   8.0  2.287197      1.0     2.0      3.0    289
Serie A             0.0  10.0  2.517241      1.0     2.0      3.0    261
Championship        0.0   7.0  2.427928      1.0     2.0      3.0    444
Primeira Liga       0.0   6.0  2.458333      1.0     2.0      3.0    216
Ligue 2             0.0   9.0  2.296296      1.0     2.0      3.0    270
Ekstraklasa         0.0   8.0  2.479263      1.0     2.0      3.0    217
League One          0.0   9.0  2.522145      1.0     2.0      3.0    429
La Liga             0.0   8.0  2.416000      1.0     2.0      3.0    250
League Two          0.0   7.0  2.298824      1.0     2.0      3.0    425

In [79]:
goal_sum.groupby("median").count()

        min  max  mean  first_q  third_q  count
median
2.0      13   13    13       13       13     13
3.0      12   12    12       12       12     12

In [36]:
#There is 25 leagues to use. 12 of them is  distrubuted in means of over  2.5 goals.
#13 of them is distrubuted in favor of bellow 2.5 Goals

Notes: 
     - score.extratime.home', 'score.extratime.away', 'score.penalty.home','score.penalty.away' will be deleted
     - Null venue.id doesn't mean, null venue.city but reverse situation applies
     - Nan values in winner features means draw
     - There is another records for matches that posponed and cancelled.
     - second half and First half means: Match that are played at the moment. So the records shouldnt be used.

### Statistics Data

In [80]:
stats=open("{}fixture_stat.pkl".format(data_dir),"rb")
fixture_stat= pickle.load(stats)
stats.close()

In [81]:
fixture_stat_df= pd.json_normalize(fixture_stat).drop("team.logo",axis=1)
fixture_stat_df.head()

,team.id,team.name,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,statistics.Corner Kicks,...,statistics.expected_goals,statistics.Assists,statistics.Counter Attacks,statistics.Cross Attacks,statistics.Free Kicks,statistics.Goals,statistics.Goal Attempts,statistics.Substitutions,statistics.Throwins,statistics.Medical Treatment
0,79,Lille,2.0,4.0,12.0,6.0,4.0,8.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,85,Paris Saint Germain,3.0,2.0,7.0,2.0,6.0,1.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83,Nantes,4.0,2.0,9.0,3.0,4.0,6.0,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,Guingamp,4.0,4.0,10.0,2.0,5.0,5.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,82,Montpellier,4.0,7.0,11.0,NaN,9.0,2.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
fixture_stat_df.columns

Index(['team.id', 'team.name', 'statistics.Shots on Goal',
       'statistics.Shots off Goal', 'statistics.Total Shots',
       'statistics.Blocked Shots', 'statistics.Shots insidebox',
       'statistics.Shots outsidebox', 'statistics.Fouls',
       'statistics.Corner Kicks', 'statistics.Offsides',
       'statistics.Ball Possession', 'statistics.Yellow Cards',
       'statistics.Red Cards', 'statistics.Goalkeeper Saves',
       'statistics.Total passes', 'statistics.Passes accurate',
       'statistics.Passes %', 'fixture.id', 'statistics.expected_goals',
       'statistics.Assists', 'statistics.Counter Attacks',
       'statistics.Cross Attacks', 'statistics.Free Kicks', 'statistics.Goals',
       'statistics.Goal Attempts', 'statistics.Substitutions',
       'statistics.Throwins', 'statistics.Medical Treatment'],
      dtype='object')

In [83]:
fixture_stat_df.describe()

,team.id,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,statistics.Corner Kicks,statistics.Offsides,...,fixture.id,statistics.Assists,statistics.Counter Attacks,statistics.Cross Attacks,statistics.Free Kicks,statistics.Goals,statistics.Goal Attempts,statistics.Substitutions,statistics.Throwins,statistics.Medical Treatment
count,201402.000000,189207.000000,191020.000000,192476.000000,143387.000000,153351.000000,151630.000000,186337.000000,196448.000000,153573.000000,...,2.014020e+05,3.000000,3.0,6.000000,6.000000,4.00000,6.000000,50.00000,6.000000,2.000000
mean,1154.930095,4.339935,5.142053,11.751309,3.290354,7.443303,5.188749,13.483946,5.025238,2.341336,...,4.001074e+05,1.333333,2.0,24.166667,13.833333,1.50000,9.833333,2.88000,20.166667,2.500000
std,1662.190598,2.315927,2.616276,5.033441,2.001500,3.623528,2.704818,4.441104,2.710207,1.457029,...,3.266320e+05,0.577350,1.0,12.106472,5.492419,0.57735,2.136976,0.38545,5.706721,0.707107
min,33.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.500000e+01,1.000000,1.0,11.000000,5.000000,1.00000,7.000000,1.00000,15.000000,2.000000
25%,227.000000,3.000000,3.000000,8.000000,2.000000,5.000000,3.000000,10.000000,3.000000,1.000000,...,7.647300e+04,1.000000,1.5,13.500000,12.000000,1.00000,8.250000,3.00000,17.000000,2.250000
50%,614.000000,4.000000,5.000000,11.000000,3.000000,7.000000,5.000000,13.000000,5.000000,2.000000,...,3.212770e+05,1.000000,2.0,25.000000,13.500000,1.50000,10.000000,3.00000,17.500000,2.500000
75%,1361.000000,6.000000,7.000000,15.000000,4.000000,10.000000,7.000000,16.000000,7.000000,3.000000,...,7.121270e+05,1.500000,2.5,32.000000,18.000000,2.00000,11.750000,3.00000,22.500000,2.750000
max,20960.000000,25.000000,25.000000,47.000000,19.000000,33.000000,25.000000,56.000000,26.000000,16.000000,...,1.015113e+06,2.000000,3.0,40.000000,20.000000,2.00000,12.000000,3.00000,30.000000,3.000000

In [84]:
fixture_stat_df[fixture_stat_df["statistics.Goal Attempts"].isna()!= True]

,team.id,team.name,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,statistics.Corner Kicks,...,statistics.expected_goals,statistics.Assists,statistics.Counter Attacks,statistics.Cross Attacks,statistics.Free Kicks,statistics.Goals,statistics.Goal Attempts,statistics.Substitutions,statistics.Throwins,statistics.Medical Treatment
29204,495,Genoa,5.0,7.0,NaN,7.0,NaN,NaN,12.0,6.0,...,NaN,2.0,2.0,18.0,12.0,2.0,8.0,3.0,17.0,NaN
29205,496,Juventus,NaN,4.0,NaN,2.0,NaN,NaN,11.0,6.0,...,NaN,NaN,NaN,32.0,15.0,NaN,7.0,3.0,18.0,2.0
34544,204,VVV Venlo,7.0,9.0,NaN,NaN,NaN,NaN,8.0,4.0,...,NaN,NaN,NaN,12.0,5.0,NaN,12.0,1.0,17.0,NaN
34545,197,PSV Eindhoven,6.0,4.0,NaN,1.0,NaN,NaN,4.0,8.0,...,NaN,1.0,NaN,32.0,12.0,1.0,11.0,2.0,24.0,NaN
44892,545,Eibar,3.0,9.0,NaN,2.0,NaN,NaN,16.0,5.0,...,NaN,1.0,3.0,40.0,19.0,1.0,9.0,3.0,30.0,3.0
44893,720,Valladolid,3.0,4.0,NaN,1.0,NaN,NaN,14.0,NaN,...,NaN,NaN,1.0,11.0,20.0,2.0,12.0,3.0,15.0,NaN

In [85]:
#There is additional features given in some matchs.
#Because they are few, we will continue with original columns given in the document

In [86]:
fixture_stat_df_v1= fixture_stat_df.iloc[:,:19] 
fixture_stat_df_v1

,team.id,team.name,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,statistics.Corner Kicks,statistics.Offsides,statistics.Ball Possession,statistics.Yellow Cards,statistics.Red Cards,statistics.Goalkeeper Saves,statistics.Total passes,statistics.Passes accurate,statistics.Passes %,fixture.id
0,79,Lille,2.0,4.0,12.0,6.0,4.0,8.0,NaN,3.0,NaN,52%,3.0,NaN,1.0,441.0,363.0,82%,185545
1,85,Paris Saint Germain,3.0,2.0,7.0,2.0,6.0,1.0,NaN,2.0,2.0,48%,4.0,1.0,2.0,412.0,345.0,84%,185545
2,83,Nantes,4.0,2.0,9.0,3.0,4.0,6.0,NaN,6.0,3.0,56%,2.0,NaN,4.0,474.0,384.0,81%,185546
3,90,Guingamp,4.0,4.0,10.0,2.0,5.0,5.0,NaN,2.0,NaN,44%,3.0,NaN,4.0,368.0,288.0,78%,185546
4,82,Montpellier,4.0,7.0,11.0,NaN,9.0,2.0,NaN,5.0,3.0,63%,3.0,NaN,4.0,528.0,428.0,81%,185547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201397,10169,Atlético Ottawa,5.0,2.0,11.0,4.0,7.0,4.0,15.0,7.0,2.0,56%,1.0,NaN,1.0,471.0,386.0,82%,588940
201398,2622,Pacific FC,3.0,3.0,11.0,5.0,9.0,2.0,11.0,7.0,1.0,55%,NaN,NaN,4.0,468.0,352.0,75%,588941
201399,2437,FC Edmonton,5.0,NaN,9.0,4.0,5.0,4.0,18.0,3.0,5.0,45%,2.0,NaN,1.0,381.0,285.0,75%,588941
201400,2621,HFX Wanderers FC,3.0,5.0,9.0,1.0,4.0,5.0,14.0,2.0,2.0,38%,1.0,NaN,3.0,317.0,222.0,70%,612734
201401,3830,Forge,4.0,1.0,12.0,7.0,6.0,6.0,17.0,7.0,1.0,62%,2.0,NaN,2.0,499.0,412.0,83%,612734

In [87]:
fixture_stat_df_v1.describe(include="all")

,team.id,team.name,statistics.Shots on Goal,statistics.Shots off Goal,statistics.Total Shots,statistics.Blocked Shots,statistics.Shots insidebox,statistics.Shots outsidebox,statistics.Fouls,statistics.Corner Kicks,statistics.Offsides,statistics.Ball Possession,statistics.Yellow Cards,statistics.Red Cards,statistics.Goalkeeper Saves,statistics.Total passes,statistics.Passes accurate,statistics.Passes %,fixture.id
count,201402.000000,201402,189207.000000,191020.000000,192476.000000,143387.000000,153351.000000,151630.000000,186337.000000,196448.000000,153573.000000,187816,176492.000000,20764.000000,178020.000000,153082.000000,153081.000000,153085,2.014020e+05
unique,NaN,1491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,NaN,72,NaN
top,NaN,Derby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52%,NaN,NaN,NaN,NaN,NaN,79%,NaN
freq,NaN,367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7898,NaN,NaN,NaN,NaN,NaN,8202,NaN
mean,1154.930095,NaN,4.339935,5.142053,11.751309,3.290354,7.443303,5.188749,13.483946,5.025238,2.341336,NaN,2.406970,1.069062,3.152073,414.053364,322.051202,NaN,4.001074e+05
std,1662.190598,NaN,2.315927,2.616276,5.033441,2.001500,3.623528,2.704818,4.441104,2.710207,1.457029,NaN,1.275896,0.267612,1.821732,105.630657,108.737097,NaN,3.266320e+05
min,33.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,6.500000e+01
25%,227.000000,NaN,3.000000,3.000000,8.000000,2.000000,5.000000,3.000000,10.000000,3.000000,1.000000,NaN,1.000000,1.000000,2.000000,338.000000,243.000000,NaN,7.647300e+04
50%,614.000000,NaN,4.000000,5.000000,11.000000,3.000000,7.000000,5.000000,13.000000,5.000000,2.000000,NaN,2.000000,1.000000,3.000000,404.000000,311.000000,NaN,3.212770e+05
75%,1361.000000,NaN,6.000000,7.000000,15.000000,4.000000,10.000000,7.000000,16.000000,7.000000,3.000000,NaN,3.000000,1.000000,4.000000,478.000000,388.000000,NaN,7.121270e+05
max,20960.000000,NaN,25.000000,25.000000,47.000000,19.000000,33.000000,25.000000,56.000000,26.000000,16.000000,NaN,12.000000,6.000000,19.000000,1059.000000,981.000000,NaN,1.015113e+06

Notes : 
    - Shot on Goal, Shotoff goal and shot blocked sums to total shots
    - Shots insidebox  and shots outsidebox sums to total shots
    - Ball Possesion needs to be redesign as value between 0-1
    - Passes Percentage will be deleted.
    - New Features comes after fixture.id will be deleted.

### Events Data

In [88]:
events_df= pd.read_csv("{}fixture_event_df.csv".format(data_dir))
events_df

,Unnamed: 0,type,detail,comments,time.elapsed,time.extra,team.id,team.name,player.id,player.name,assist.id,assist.name,fixture.id
0,0,Card,Yellow Card,NaN,23,NaN,85.0,Paris Saint Germain,272.0,Adrien Rabiot,NaN,NaN,185545
1,1,Card,Yellow Card,NaN,28,NaN,85.0,Paris Saint Germain,272.0,Adrien Rabiot,NaN,NaN,185545
2,2,Card,Red Card,NaN,28,NaN,85.0,Paris Saint Germain,272.0,Adrien Rabiot,NaN,NaN,185545
3,3,subst,Substitution 1,NaN,46,NaN,79.0,Lille,2049.0,I. Amadou,50270.0,Ryan Mendes,185545
4,4,subst,Substitution 1,NaN,46,NaN,85.0,Paris Saint Germain,781.0,J. Pastore,85062.0,Thiago Motta,185545
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179147,1179147,subst,Substitution 5,NaN,87,NaN,7779.0,Ituano,9788.0,Lucas Siqueira,197024.0,Mateus Nascimento,1014795
1179148,1179148,subst,Substitution 4,NaN,89,NaN,121.0,Palmeiras,9920.0,Raphael Veiga,1364.0,Jaílson,1014795
1179149,1179149,subst,Substitution 5,NaN,89,NaN,121.0,Palmeiras,10143.0,Rony,68057.0,Rafael Navarro,1014795
1179150,1179150,Goal,Normal Goal,NaN,9,NaN,794.0,RB Bragantino,9893.0,Alerrandro,68113.0,Jose Hurtado,1014796
1179151,1179151,Card,Yellow Card,NaN,16,NaN,10018.0,Água Santa,9717.0,Igor Henrique,NaN,NaN,1014796

In [89]:
events_df.describe(include="all")

,Unnamed: 0,type,detail,comments,time.elapsed,time.extra,team.id,team.name,player.id,player.name,assist.id,assist.name,fixture.id
count,1.179152e+06,1179152,1178913,137805,1.179152e+06,59273.000000,1.178933e+06,1179152,1.176742e+06,1179070,717505.000000,717898,1.179152e+06
unique,NaN,4,30,40,NaN,NaN,NaN,1192,NaN,71285,NaN,44152,NaN
top,NaN,subst,Yellow Card,Foul,NaN,NaN,NaN,Palmeiras,NaN,Paulinho,NaN,J. Rodríguez,NaN
freq,NaN,576602,353541,101720,NaN,NaN,NaN,2509,NaN,730,NaN,378,NaN
mean,5.895755e+05,NaN,NaN,NaN,6.238627e+01,3.081099,1.035190e+03,NaN,4.237800e+04,NaN,51953.608431,NaN,4.249790e+05
std,3.403920e+05,NaN,NaN,NaN,2.233978e+01,2.110777,1.524946e+03,NaN,5.454330e+04,NaN,67892.149462,NaN,3.308981e+05
min,0.000000e+00,NaN,NaN,NaN,-5.000000e+00,1.000000,3.300000e+01,NaN,1.000000e+00,NaN,1.000000,NaN,6.500000e+01
25%,2.947878e+05,NaN,NaN,NaN,4.600000e+01,1.000000,2.140000e+02,NaN,1.039800e+04,NaN,12721.000000,NaN,7.652500e+04
50%,5.895755e+05,NaN,NaN,NaN,6.700000e+01,3.000000,5.440000e+02,NaN,3.040800e+04,NaN,31625.000000,NaN,5.664000e+05
75%,8.843632e+05,NaN,NaN,NaN,8.000000e+01,4.000000,1.151000e+03,NaN,4.801000e+04,NaN,51033.000000,NaN,7.186070e+05
max,1.179151e+06,NaN,NaN,NaN,1.270000e+02,47.000000,2.078700e+04,NaN,4.098400e+05,NaN,411289.000000,NaN,1.014796e+06

In [90]:
events_df.type.unique()

array(['Card', 'subst', 'Goal', 'Var'], dtype=object)

In [91]:
events_df.detail.unique()

array(['Yellow Card', 'Red Card', 'Substitution 1', 'Normal Goal',
       'Substitution 2', 'Substitution 3', 'Own Goal', 'Penalty',
       'Substitution 4', 'Substitution 5', 'Goal cancelled',
       'Penalty confirmed', 'Missed Penalty', 'Penalty awarded',
       'Penalty cancelled', 'Goal confirmed', 'Substitution 6',
       'Card upgrade', 'Card reviewed', 'Red card cancelled', nan,
       'Goal Disallowed - offside', 'Substitution 7', 'Substitution 8',
       'Substitution 9', 'Second Yellow Card', 'Substitution 10',
       'Goal Disallowed', 'Goal Disallowed - handball',
       'Goal Disallowed - Foul', 'Substitution 11'], dtype=object)

In [92]:
events_df[events_df.detail=="Missed Penalty"]

,Unnamed: 0,type,detail,comments,time.elapsed,time.extra,team.id,team.name,player.id,player.name,assist.id,assist.name,fixture.id
27927,27927,Goal,Missed Penalty,NaN,19,NaN,85.0,Paris Saint Germain,276.0,Neymar,NaN,NaN,571844
27968,27968,Goal,Missed Penalty,NaN,29,NaN,82.0,Montpellier,21591.0,A. Delort,NaN,NaN,571847
27989,27989,Goal,Missed Penalty,NaN,76,NaN,89.0,Dijon,2994.0,M. Konate,NaN,NaN,571848
34025,34025,Goal,Missed Penalty,Penalty Shootout,120,1.0,1063.0,Saint Etienne,47436.0,R. Boudebouz,NaN,NaN,862972
38250,38250,Goal,Missed Penalty,NaN,19,NaN,95.0,Strasbourg,20535.0,H. Diallo,20535.0,H. Diallo,871746
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179036,1179036,Goal,Missed Penalty,Penalty Shootout,120,17.0,131.0,Corinthians,12744.0,Gil,NaN,NaN,1012148
1179037,1179037,Goal,Missed Penalty,Penalty Shootout,120,16.0,7779.0,Ituano,55283.0,Mário Sérgio,NaN,NaN,1012148
1179038,1179038,Goal,Missed Penalty,Penalty Shootout,120,15.0,131.0,Corinthians,2411.0,Fágner,NaN,NaN,1012148
1179045,1179045,Goal,Missed Penalty,Penalty Shootout,120,8.0,7779.0,Ituano,9272.0,Raí Ramos,NaN,NaN,1012148
1179052,1179052,Goal,Missed Penalty,Penalty Shootout,120,1.0,131.0,Corinthians,9876.0,Fábio Santos,NaN,NaN,1012148

In [93]:
events_df.comments.unique()

array([nan, 'Foul', 'Off the ball foul', 'Handball', 'Simulation',
       'Argument', 'Time wasting', 'Violent conduct',
       'Professional foul last man', 'Roughing', 'Holding', 'Tripping',
       'Not on pitch', 'Persistent fouling', 'Professional handball',
       'Unsportsmanlike conduct', 'Elbowing', 'Handling',
       'Unallowed field entering', 'Penalty Shootout', 'Rescinded Card',
       'Delay of game', 'Dangerous play', 'L. Matos', 'Gabriel Barbosa',
       'Fred', 'Unsporting behaviour',
       'Not on pitch, Unsportsmanlike conduct', 'Diving', 'Leaving field',
       'Impeding', 'Serious foul', 'P. Dyego', 'N. Hidalgo', 'Fighting',
       'A. Hegazy', 'H. Suazo', 'J. Vargas', 'G. Tapia', 'M. Bolados',
       'R. Gonzalez'], dtype=object)

In [94]:
events_df[events_df.comments=="J. Vargas"]

,Unnamed: 0,type,detail,comments,time.elapsed,time.extra,team.id,team.name,player.id,player.name,assist.id,assist.name,fixture.id
1140202,1140202,Card,Yellow Card,J. Vargas,48,NaN,2994.0,U. Catolica,6529.0,F. Goal Disallowed - offside50'Zampedri,NaN,NaN,645574

Notes: 
    
    - Most of the details about var. Var records will be deleted
    - Comments mostly about fauls.
    - Not all goal records show goal. Some of shows missed penalties.

### Fixture Distrubutions

In [95]:
fixtures_v2.columns

Index(['fixture.id', 'fixture.referee', 'fixture.timezone', 'fixture.date',
       'fixture.timestamp', 'fixture.periods.first', 'fixture.periods.second',
       'fixture.venue.id', 'fixture.venue.name', 'fixture.venue.city',
       'fixture.status.long', 'fixture.status.short', 'fixture.status.elapsed',
       'league.id', 'league.name', 'league.country', 'league.logo',
       'league.season', 'league.round', 'teams.home.id', 'teams.home.name',
       'teams.home.winner', 'teams.away.id', 'teams.away.name',
       'teams.away.winner', 'goals.home', 'goals.away', 'score.halftime.home',
       'score.halftime.away', 'score.fulltime.home', 'score.fulltime.away'],
      dtype='object')

In [97]:
#We are gonna check if all temas have same amount of fixture within their season/league

In [98]:
fixtures_v2["fixture.status.long"].unique()

array(['Match Finished', 'Match Cancelled', 'Not Started', 'Second Half',
       'Time to be defined', 'Match Postponed', 'Halftime',
       'Technical loss'], dtype=object)

In [99]:
no= ["Match Cancelled","Match Postponed"]

In [127]:
only_valid=fixtures_v2[fixtures_v2["league.country"].isin(no)==False][["league.name","teams.home.name","teams.away.name","league.id","league.country","league.season","league.round"]]
only_valid

,league.name,teams.home.name,teams.away.name,league.id,league.country,league.season,league.round
0,Ligue 1,Lille,Paris Saint Germain,61,France,2015,Regular Season - 1
1,Ligue 1,Nantes,Guingamp,61,France,2015,Regular Season - 1
2,Ligue 1,Montpellier,Angers,61,France,2015,Regular Season - 1
3,Ligue 1,Nice,Monaco,61,France,2015,Regular Season - 1
4,Ligue 1,Marseille,Caen,61,France,2015,Regular Season - 1
...,...,...,...,...,...,...,...
88910,Czech Liga,Mlada Boleslav,Sigma Olomouc,345,Czech-Republic,2021,Middle Play-offs - Final
88911,Czech Liga,Opava,Bohemians 1905,345,Czech-Republic,2021,Relegation Round
88912,Czech Liga,Bohemians 1905,Opava,345,Czech-Republic,2021,Relegation Round
88913,Czech Liga,Teplice,Vlašim,345,Czech-Republic,2021,Relegation Round
88914,Czech Liga,Vlašim,Teplice,345,Czech-Republic,2021,Relegation Round

In [128]:
only_valid["league.round"].unique()

array(['Regular Season - 1', 'Regular Season - 2', 'Regular Season - 3',
       'Regular Season - 4', 'Regular Season - 5', 'Regular Season - 6',
       'Regular Season - 7', 'Regular Season - 8', 'Regular Season - 9',
       'Regular Season - 10', 'Regular Season - 11',
       'Regular Season - 12', 'Regular Season - 13',
       'Regular Season - 14', 'Regular Season - 15',
       'Regular Season - 16', 'Regular Season - 17',
       'Regular Season - 18', 'Regular Season - 19',
       'Regular Season - 20', 'Regular Season - 21',
       'Regular Season - 22', 'Regular Season - 23',
       'Regular Season - 24', 'Regular Season - 25',
       'Regular Season - 26', 'Regular Season - 27',
       'Regular Season - 28', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 31',
       'Regular Season - 32', 'Regular Season - 33',
       'Regular Season - 34', 'Regular Season - 35',
       'Regular Season - 36', 'Regular Season - 37',
       'Regular Season - 38', 'Relegation Round',
       'Championship Round - 1', 'Championship Round - 2',
       'Championship Round - 3', 'Championship Round - 4',
       'Championship Round - 5', 'Championship Round - 6',
       'Championship Round - 7', 'Championship Round - 8',
       'Championship Round - 9', 'Championship Round - 10',
       'Conference League Play-off Group - 1',
       'Conference League Play-off Group - 2',
       'Conference League Play-off Group - 3',
       'Conference League Play-off Group - 4',
       'Conference League Play-off Group - 5',
       'Conference League Play-off Group - 6',
       'Conference League Play-offs - Final', 'Finals',
       'Europa League Play-offs - Finals',
       'Europa League Play-offs - Semi-finals',
       'Europa League Play-offs - Final', '3rd Round', '2nd Round',
       '1st Round', '1st Phase - 1', '1st Phase - 2', '1st Phase - 3',
       '1st Phase - 4', '1st Phase - 5', '1st Phase - 6', '1st Phase - 7',
       '1st Phase - 8', '1st Phase - 9', '1st Phase - 10',
       '1st Phase - 11', '1st Phase - 12', '1st Phase - 13',
       '1st Phase - 14', '1st Phase - 15', '1st Phase - 16',
       '1st Phase - 17', '1st Phase - 18', '1st Phase - 19',
       '1st Phase - 20', '1st Phase - 21', '1st Phase - 22',
       '1st Phase - 23', '1st Phase - 24', '1st Phase - 25',
       '1st Phase - 26', '1st Phase - 27', '1st Phase - 28',
       '1st Phase - 29', '1st Phase - 30', '1st Phase - 31',
       '1st Phase - 32', '1st Phase - 33',
       'Promotion Play-offs - 1st Round Finals',
       'Promotion Play-offs - 2nd Round Finals',
       'Promotion Play-offs - 1st Round',
       'Promotion Play-offs - 2nd Round', 'Regular Season - 39',
       'Regular Season - 40', 'Regular Season - 41',
       'Regular Season - 42', 'Promotion Play-offs - Semi-finals',
       'Promotion Play-offs - Final', 'CL/EL Play-offs - 1',
       'CL/EL Play-offs - 2', 'CL/EL Play-offs - 3',
       'CL/EL Play-offs - 4', 'CL/EL Play-offs - 5',
       'CL/EL Play-offs - 6', 'Relegation Round - 1',
       'Relegation Round - 2', 'Relegation Round - 3',
       'Relegation Round - 4', 'Relegation Round - 5',
       'Relegation Round - 6', 'Relegation Round - 7',
       'Relegation Round - 8', 'Relegation Round - 9',
       'Relegation Round - 10', 'Europa League Play-offs - 1st Round',
       'Conference League Play-offs - 1st Round',
       'Relegation Play-offs - Final',
       'Europa League Play-offs - Quarter-finals', 'Regular Season - 46',
       'Regular Season - 45', 'Regular Season - 44',
       'Regular Season - 43', 'Promotion Play-offs - Finals',
       'Promotion Play-offs - Quarter-finals',
       'Relegation Play-off Decider',
       'Promotion Play-offs - Qualifying Round', 'Final',
       'Quarter-finals', '9th-16th Place Play-offs', 'Semi-finals',
       '9th-12th Place Play-offs', '13th-16th Place Play-offs',
       '5th-8th Place Play-offs', 'Championship - Final',
       '15th Place Final', '3rd Place Final', '11th Place Final',
       '13th Place Final', '5th Place Final', '7th Place Final',
       '9th Place Final', 'Conference League Play-offs - Semi-finals',
       'Middle Play-offs - Semi-finals', 'Middle Play-offs - Final'],
      dtype=object)

In [129]:
home= only_valid.drop(["teams.away.name"],axis=1).rename({"teams.home.name":"name"},axis=1)
away= only_valid.drop(["teams.home.name"],axis=1).rename({"teams.away.name":"name"},axis=1)
final_teams= pd.concat([home,away],axis=0)
final_teams

,league.name,name,league.id,league.country,league.season,league.round
0,Ligue 1,Lille,61,France,2015,Regular Season - 1
1,Ligue 1,Nantes,61,France,2015,Regular Season - 1
2,Ligue 1,Montpellier,61,France,2015,Regular Season - 1
3,Ligue 1,Nice,61,France,2015,Regular Season - 1
4,Ligue 1,Marseille,61,France,2015,Regular Season - 1
...,...,...,...,...,...,...
88910,Czech Liga,Sigma Olomouc,345,Czech-Republic,2021,Middle Play-offs - Final
88911,Czech Liga,Bohemians 1905,345,Czech-Republic,2021,Relegation Round
88912,Czech Liga,Opava,345,Czech-Republic,2021,Relegation Round
88913,Czech Liga,Vlašim,345,Czech-Republic,2021,Relegation Round
88914,Czech Liga,Teplice,345,Czech-Republic,2021,Relegation Round

In [130]:
grup_fix=final_teams.groupby(["name","league.id","league.season","league.country","league.name"],as_index=False)["league.round"].count()
grup_fix

,name,league.id,league.season,league.country,league.name,league.round
0,1899 Hoffenheim,78,2015,Germany,Bundesliga,34
1,1899 Hoffenheim,78,2016,Germany,Bundesliga,34
2,1899 Hoffenheim,78,2017,Germany,Bundesliga,34
3,1899 Hoffenheim,78,2018,Germany,Bundesliga,34
4,1899 Hoffenheim,78,2019,Germany,Bundesliga,34
...,...,...,...,...,...,...
3492,İstanbulspor,203,2022,Turkey,Süper Lig,36
3493,İstanbulspor,204,2020,Turkey,1. Lig,36
3494,İstanbulspor,204,2021,Turkey,1. Lig,39
3495,ŁKS Łódź,106,2019,Poland,Ekstraklasa,37
3496,Žilina,332,2021,Slovakia,Super Liga,33

In [131]:
leagues=grup_fix.groupby(["league.id","league.season"],as_index=False)["league.round"].aggregate(["max","min"]).reset_index()
leagues

     league.id  league.season  max  min
0           39           2015   38   38
1           39           2016   38   38
2           39           2017   38   38
3           39           2018   38   38
4           39           2019   38   38
..         ...            ...  ...  ...
190        283           2021   41   39
191        332           2021   34    2
192        333           2021   30   30
193        345           2020   34   34
194        345           2021   37    2

[195 rows x 4 columns]

In [132]:
#we will look leagues who has different teams with different match count

non_equal= leagues[leagues["max"]!=leagues["min"]]
non_equal

     league.id  league.season  max  min
8           40           2016   49   46
9           40           2017   49   46
10          40           2018   49   46
11          40           2019   49   46
12          40           2020   49   46
..         ...            ...  ...  ...
187        235           2021   32    2
189        283           2020   41    2
190        283           2021   41   39
191        332           2021   34    2
194        345           2021   37    2

[81 rows x 4 columns]

In [141]:
non_equal["league.id"].unique()

array([ 40,  41,  42,  61,  62,  78,  79,  88,  94, 103, 113, 114, 119,
       136, 141, 144, 169, 172, 179, 197, 204, 207, 218, 235, 283, 332,
       345], dtype=int64)

In [189]:
class check:
    
    def __init__(self,id):
        
        self.nq=non_equal[non_equal["league.id"]==id]
        self.gf= grup_fix[grup_fix["league.id"]==id]
        self.ov=only_valid[only_valid["league.id"]==40]["league.round"].unique()

#### League ID 40 Championship

In [190]:
check(40).nq

    league.id  league.season  max  min
8          40           2016   49   46
9          40           2017   49   46
10         40           2018   49   46
11         40           2019   49   46
12         40           2020   49   46
13         40           2021   49   46

In [191]:
check(40).gf

,name,league.id,league.season,league.country,league.name,league.round
277,Aston Villa,40,2016,England,Championship,46
278,Aston Villa,40,2017,England,Championship,49
279,Aston Villa,40,2018,England,Championship,49
375,Barnsley,40,2016,England,Championship,46
376,Barnsley,40,2017,England,Championship,46
...,...,...,...,...,...,...
3378,Wigan,40,2019,England,Championship,46
3379,Wigan,40,2022,England,Championship,46
3412,Wolves,40,2016,England,Championship,46
3413,Wolves,40,2017,England,Championship,46
3419,Wycombe,40,2020,England,Championship,46

In [193]:
check(40).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [140]:
#Result in Premier league there are teams which playes extra promotion games
#For championship we will not use promotions

#### LEAGUE ID 41 England League One

In [194]:
check(41).nq

    league.id  league.season  max  min
15         41           2019   49   46
16         41           2020   49   46
17         41           2021   49   46

In [197]:
check(41).gf

,name,league.id,league.season,league.country,league.name,league.round
36,AFC Wimbledon,41,2019,England,League One,46
37,AFC Wimbledon,41,2020,England,League One,46
38,AFC Wimbledon,41,2021,England,League One,46
86,Accrington ST,41,2019,England,League One,46
87,Accrington ST,41,2020,England,League One,46
...,...,...,...,...,...,...
3380,Wigan,41,2020,England,League One,46
3381,Wigan,41,2021,England,League One,46
3420,Wycombe,41,2019,England,League One,49
3421,Wycombe,41,2021,England,League One,49
3422,Wycombe,41,2022,England,League One,46

In [196]:
check(41).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [147]:
# İt is same as championship, we will not use promotions

#### LEAGUE ID 42 League Two England

In [198]:
check(42).nq

    league.id  league.season  max  min
19         42           2020   49   46
20         42           2021   49   46

In [199]:
check(42).gf

,name,league.id,league.season,league.country,league.name,league.round
39,AFC Wimbledon,42,2022,England,League Two,46
381,Barrow,42,2020,England,League Two,46
382,Barrow,42,2021,England,League Two,46
383,Barrow,42,2022,England,League Two,46
494,Bolton,42,2020,England,League Two,46
...,...,...,...,...,...,...
3113,Tranmere,42,2021,England,League Two,46
3114,Tranmere,42,2022,England,League Two,46
3337,Walsall,42,2020,England,League Two,46
3338,Walsall,42,2021,England,League Two,46
3339,Walsall,42,2022,England,League Two,46

In [200]:
check(42).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [151]:
# İt is same as championship, we will not use promotions

##### LEAGUE ID 61 League 1 France

In [201]:
check(61).nq

    league.id  league.season  max  min
27         61           2020   40    2
28         61           2021   40    2

In [202]:
check(61).gf

,name,league.id,league.season,league.country,league.name,league.round
103,Ajaccio,61,2022,France,Ligue 1,38
171,Amiens,61,2017,France,Ligue 1,38
172,Amiens,61,2018,France,Ligue 1,38
173,Amiens,61,2019,France,Ligue 1,38
185,Angers,61,2015,France,Ligue 1,38
...,...,...,...,...,...,...
3095,Toulouse,61,2017,France,Ligue 1,38
3096,Toulouse,61,2018,France,Ligue 1,38
3097,Toulouse,61,2019,France,Ligue 1,38
3098,Toulouse,61,2020,France,Ligue 1,2
3099,Toulouse,61,2022,France,Ligue 1,38

In [203]:
check(61).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [161]:
only_valid[(only_valid["league.id"]==61)& (only_valid["league.round"]=='Relegation Round')]

,league.name,teams.home.name,teams.away.name,league.id,league.country,league.season,league.round
2280,Ligue 1,Toulouse,Nantes,61,France,2020,Relegation Round
2281,Ligue 1,Nantes,Toulouse,61,France,2020,Relegation Round
2662,Ligue 1,Auxerre,Saint Etienne,61,France,2021,Relegation Round
2663,Ligue 1,Saint Etienne,Auxerre,61,France,2021,Relegation Round

In [162]:
# In League One France, teams play relagation round in order to attend current season. 
#That is why there is two match extra and min shown in the table 
# We wont use relagation rounds

In [163]:
non_equal["league.id"].unique()

array([ 40,  41,  42,  61,  62,  78,  79,  88,  94, 103, 113, 114, 119,
       136, 141, 144, 169, 172, 179, 197, 204, 207, 218, 235, 283, 332,
       345], dtype=int64)

#### League Id 62  League 2 France

In [204]:
check(62).nq

    league.id  league.season  max  min
27         61           2020   40    2
28         61           2021   40    2

In [205]:
check(62).gf

,name,league.id,league.season,league.country,league.name,league.round
104,Ajaccio,62,2017,France,Ligue 2,39
105,Ajaccio,62,2018,France,Ligue 2,38
106,Ajaccio,62,2019,France,Ligue 2,38
107,Ajaccio,62,2020,France,Ligue 2,38
108,Ajaccio,62,2021,France,Ligue 2,38
...,...,...,...,...,...,...
3193,Valenciennes,62,2020,France,Ligue 2,38
3194,Valenciennes,62,2021,France,Ligue 2,38
3195,Valenciennes,62,2022,France,Ligue 2,38
3288,Villefranche,62,2020,France,Ligue 2,2
3289,Villefranche,62,2021,France,Ligue 2,2

In [206]:
check(62).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [169]:
only_valid[(only_valid["league.id"]==62) & (only_valid["league.season"]==2017)]["league.round"].unique()

array(['Regular Season - 38', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 32',
       'Regular Season - 35', 'Regular Season - 34',
       'Regular Season - 33', 'Regular Season - 29',
       'Regular Season - 31', 'Regular Season - 30',
       'Regular Season - 28', 'Regular Season - 27',
       'Regular Season - 26', 'Regular Season - 25',
       'Regular Season - 24', 'Regular Season - 21',
       'Regular Season - 23', 'Regular Season - 19',
       'Regular Season - 22', 'Regular Season - 20',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - 1st Round Finals',
       'Promotion Play-offs - 2nd Round Finals'], dtype=object)

In [170]:
# In 2017 there was no relagation round,
# Still there is relagation round at 2020,2021

In [171]:
leagues[leagues["league.id"]==62]

    league.id  league.season  max  min
30         62           2017   40   38
31         62           2018   38   38
32         62           2019   38   38
33         62           2020   40    2
34         62           2021   40    2
35         62           2022   38   38

In [172]:
only_valid[(only_valid["league.id"]==62) & (only_valid["league.season"]==2018)]["league.round"].unique()

array(['Regular Season - 1', 'Regular Season - 2', 'Regular Season - 3',
       'Regular Season - 4', 'Regular Season - 5', 'Regular Season - 6',
       'Regular Season - 9', 'Regular Season - 10', 'Regular Season - 11',
       'Regular Season - 12', 'Regular Season - 13',
       'Regular Season - 14', 'Regular Season - 15',
       'Regular Season - 16', 'Regular Season - 17',
       'Regular Season - 18', 'Regular Season - 19',
       'Regular Season - 20', 'Regular Season - 21',
       'Regular Season - 22', 'Regular Season - 23',
       'Regular Season - 24', 'Regular Season - 25',
       'Regular Season - 26', 'Regular Season - 27',
       'Regular Season - 28', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 31',
       'Regular Season - 32', 'Regular Season - 33',
       'Regular Season - 34', 'Regular Season - 35',
       'Regular Season - 36', 'Regular Season - 37',
       'Regular Season - 38', 'Regular Season - 7', 'Regular Season - 8'],
      dtype=object)

In [173]:
# There was no relagation or promotion at 2018/2019/2022

#### League Id 78 Bundesliga Germany

In [207]:
check(78).nq

    league.id  league.season  max  min
39         78           2018   36    2
40         78           2019   36    2
41         78           2020   36    2
42         78           2021   36    2

In [208]:
check(78).gf

,name,league.id,league.season,league.country,league.name,league.round
0,1899 Hoffenheim,78,2015,Germany,Bundesliga,34
1,1899 Hoffenheim,78,2016,Germany,Bundesliga,34
2,1899 Hoffenheim,78,2017,Germany,Bundesliga,34
3,1899 Hoffenheim,78,2018,Germany,Bundesliga,34
4,1899 Hoffenheim,78,2019,Germany,Bundesliga,34
...,...,...,...,...,...,...
3353,Werder Bremen,78,2017,Germany,Bundesliga,34
3354,Werder Bremen,78,2018,Germany,Bundesliga,34
3355,Werder Bremen,78,2019,Germany,Bundesliga,36
3356,Werder Bremen,78,2020,Germany,Bundesliga,34
3357,Werder Bremen,78,2022,Germany,Bundesliga,34

In [209]:
check(78).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [179]:
# BundesLiga has relagation round and finals 

only_valid[(only_valid["league.id"]==78) & (only_valid["league.round"]=="Finals")]

,league.name,teams.home.name,teams.away.name,league.id,league.country,league.season,league.round
11829,Bundesliga,VfB Stuttgart,Union Berlin,78,Germany,2018,Finals
11830,Bundesliga,Union Berlin,VfB Stuttgart,78,Germany,2018,Finals

#### League Id 79 Germany Bundesliga 2

In [210]:
check(79).nq

    league.id  league.season  max  min
48         79           2019   36    2
49         79           2020   36    2
50         79           2021   36    2

In [211]:
check(79).gf

,name,league.id,league.season,league.country,league.name,league.round
234,Arminia Bielefeld,79,2015,Germany,2. Bundesliga,34
235,Arminia Bielefeld,79,2016,Germany,2. Bundesliga,34
236,Arminia Bielefeld,79,2017,Germany,2. Bundesliga,34
237,Arminia Bielefeld,79,2018,Germany,2. Bundesliga,34
238,Arminia Bielefeld,79,2019,Germany,2. Bundesliga,34
...,...,...,...,...,...,...
3253,VfL BOCHUM,79,2019,Germany,2. Bundesliga,34
3254,VfL BOCHUM,79,2020,Germany,2. Bundesliga,34
3255,VfL Osnabruck,79,2019,Germany,2. Bundesliga,34
3256,VfL Osnabruck,79,2020,Germany,2. Bundesliga,36
3358,Werder Bremen,79,2021,Germany,2. Bundesliga,34

In [212]:
check(79).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [184]:
# Bundesliga 2 has relagation rounds.

#### League Id 88 Netherland Eredivisie

In [213]:
check(88).nq

    league.id  league.season  max  min
54         88           2015   38   34
55         88           2016   38   34
56         88           2017   38   34
57         88           2018   38   34
59         88           2020   36    1
60         88           2021   38    2

In [215]:
check(88).gf

,name,league.id,league.season,league.country,league.name,league.round
19,ADO Den Haag,88,2015,Netherlands,Eredivisie,34
20,ADO Den Haag,88,2016,Netherlands,Eredivisie,34
21,ADO Den Haag,88,2017,Netherlands,Eredivisie,36
22,ADO Den Haag,88,2018,Netherlands,Eredivisie,34
23,ADO Den Haag,88,2019,Netherlands,Eredivisie,34
...,...,...,...,...,...,...
3384,Willem II,88,2017,Netherlands,Eredivisie,34
3385,Willem II,88,2018,Netherlands,Eredivisie,34
3386,Willem II,88,2019,Netherlands,Eredivisie,34
3387,Willem II,88,2020,Netherlands,Eredivisie,34
3388,Willem II,88,2021,Netherlands,Eredivisie,34

In [216]:
check(88).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [217]:
# At Netherland eredivise promotoions shown at that league
# We wont include 'Promotion Play-offs - Final', 'Promotion Play-offs - Semi-finals'

#### League Id 94 PORTUGAL PREMIERA LIGA

In [218]:
check(94).nq

    league.id  league.season  max  min
70         94           2020   36    2
71         94           2021   36    2

In [219]:
check(94).gf

,name,league.id,league.season,league.country,league.name,league.round
85,Academica,94,2015,Portugal,Primeira Liga,34
240,Arouca,94,2015,Portugal,Primeira Liga,34
241,Arouca,94,2016,Portugal,Primeira Liga,34
242,Arouca,94,2020,Portugal,Primeira Liga,2
243,Arouca,94,2021,Portugal,Primeira Liga,34
...,...,...,...,...,...,...
3304,Vitoria Setubal,94,2017,Portugal,Primeira Liga,34
3305,Vitoria Setubal,94,2018,Portugal,Primeira Liga,34
3306,Vitoria Setubal,94,2019,Portugal,Primeira Liga,34
3307,Vizela,94,2021,Portugal,Primeira Liga,34
3308,Vizela,94,2022,Portugal,Primeira Liga,34

In [220]:
check(94).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [221]:
#Promotion Play-offs - Final', 'Promotion Play-offs - Semi-finals' wont be included

#### League Id 103 Norway Eliteserien

In [222]:
check(103).nq

    league.id  league.season  max  min
77        103           2020   31    1
78        103           2021   61    1
79        103           2022   32    2

In [223]:
check(103).gf

,name,league.id,league.season,league.country,league.name,league.round
74,Aalesund,103,2016,Norway,Eliteserien,30
75,Aalesund,103,2017,Norway,Eliteserien,30
76,Aalesund,103,2020,Norway,Eliteserien,30
77,Aalesund,103,2022,Norway,Eliteserien,30
473,Bodo/Glimt,103,2016,Norway,Eliteserien,30
...,...,...,...,...,...,...
3275,Viking,103,2020,Norway,Eliteserien,30
3276,Viking,103,2021,Norway,Eliteserien,60
3277,Viking,103,2022,Norway,Eliteserien,30
3474,jerv,103,2021,Norway,Eliteserien,1
3475,jerv,103,2022,Norway,Eliteserien,30

In [224]:
check(103).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [227]:
only_valid[(only_valid["league.id"]==103) & (only_valid["league.season"]==2021)]["league.round"].unique()

array(['Regular Season - 1', 'Regular Season - 2', 'Regular Season - 3',
       'Regular Season - 4', 'Regular Season - 5', 'Regular Season - 6',
       'Regular Season - 7', 'Regular Season - 8', 'Regular Season - 9',
       'Regular Season - 10', 'Regular Season - 11',
       'Regular Season - 12', 'Regular Season - 13',
       'Regular Season - 14', 'Regular Season - 15',
       'Regular Season - 16', 'Regular Season - 17',
       'Regular Season - 18', 'Regular Season - 19',
       'Regular Season - 20', 'Regular Season - 21',
       'Regular Season - 22', 'Regular Season - 23',
       'Regular Season - 24', 'Regular Season - 25',
       'Regular Season - 26', 'Regular Season - 27',
       'Regular Season - 28', 'Regular Season - 29',
       'Regular Season - 30', 'Final'], dtype=object)

In [229]:
only_valid[(only_valid["league.id"]==103) & (only_valid["league.season"]==2021)]

,league.name,teams.home.name,teams.away.name,league.id,league.country,league.season,league.round
66274,Eliteserien,Stabaek,ODD Ballklubb,103,Norway,2021,Regular Season - 1
66275,Eliteserien,Bodo/Glimt,Brann,103,Norway,2021,Regular Season - 1
66276,Eliteserien,Haugesund,Tromso,103,Norway,2021,Regular Season - 1
66277,Eliteserien,Kristiansund BK,Lillestrom,103,Norway,2021,Regular Season - 1
66278,Eliteserien,Mjondalen,Sandefjord,103,Norway,2021,Regular Season - 1
...,...,...,...,...,...,...,...
66748,Eliteserien,Mjondalen,Bodo/Glimt,103,Norway,2021,Regular Season - 30
66749,Eliteserien,ODD Ballklubb,Stabaek,103,Norway,2021,Regular Season - 30
66750,Eliteserien,Rosenborg,Stromsgodset,103,Norway,2021,Regular Season - 30
66751,Eliteserien,Tromso,Viking,103,Norway,2021,Regular Season - 30
66752,Eliteserien,Brann,jerv,103,Norway,2021,Final

In [231]:
look=check(103).gf
look[look["league.round"]==61]

      name  league.id  league.season league.country  league.name  league.round
543  Brann        103           2021         Norway  Eliteserien            61

In [233]:
samp=final_teams[(final_teams["league.id"]==103) & (final_teams["league.season"]==2021) & (final_teams["name"]=="Brann")].sort_values("league.round")

In [234]:
samp

,league.name,name,league.id,league.country,league.season,league.round
66752,Eliteserien,Brann,103,Norway,2021,Final
66275,Eliteserien,Brann,103,Norway,2021,Regular Season - 1
66520,Eliteserien,Brann,103,Norway,2021,Regular Season - 1
66347,Eliteserien,Brann,103,Norway,2021,Regular Season - 10
66591,Eliteserien,Brann,103,Norway,2021,Regular Season - 10
...,...,...,...,...,...,...
66329,Eliteserien,Brann,103,Norway,2021,Regular Season - 7
66572,Eliteserien,Brann,103,Norway,2021,Regular Season - 8
66331,Eliteserien,Brann,103,Norway,2021,Regular Season - 8
66579,Eliteserien,Brann,103,Norway,2021,Regular Season - 9
66342,Eliteserien,Brann,103,Norway,2021,Regular Season - 9

In [235]:
# There is some mistake about reqular season

In [239]:
fixtures_v2[(fixtures_v2["league.id"]==103) & (fixtures_v2["league.season"]==2021) & (fixtures_v2["teams.home.name"]=="Brann")]

,fixture.id,fixture.referee,fixture.timezone,fixture.date,fixture.timestamp,fixture.periods.first,fixture.periods.second,fixture.venue.id,fixture.venue.name,fixture.venue.city,...,teams.home.winner,teams.away.id,teams.away.name,teams.away.winner,goals.home,goals.away,score.halftime.home,score.halftime.away,score.fulltime.home,score.fulltime.away
66289,681622,NaN,UTC,2021-04-11T18:00:00+00:00,1618164000,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,331,Rosenborg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66304,681637,NaN,UTC,2021-04-18T16:00:00+00:00,1618761600,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,2152,Mjondalen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66321,681654,NaN,UTC,2021-05-02T18:00:00+00:00,1619978400,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,320,Kristiansund BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66331,681664,NaN,UTC,2021-05-16T16:00:00+00:00,1621180800,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,328,Haugesund,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66347,681680,NaN,UTC,2021-05-29T16:00:00+00:00,1622304000,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,325,Tromso,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66363,681696,NaN,UTC,2021-06-24T00:00:00+00:00,1624492800,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,330,ODD Ballklubb,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66386,681719,NaN,UTC,2021-07-10T00:00:00+00:00,1625875200,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,326,Valerenga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66402,681735,NaN,UTC,2021-07-31T00:00:00+00:00,1627689600,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,323,Stabaek,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66418,681751,NaN,UTC,2021-08-14T00:00:00+00:00,1628899200,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,324,Stromsgodset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66435,681768,NaN,UTC,2021-09-11T00:00:00+00:00,1631318400,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,329,Molde,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66451,681784,NaN,UTC,2021-09-25T00:00:00+00:00,1632528000,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,759,Viking,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66467,681800,NaN,UTC,2021-10-16T00:00:00+00:00,1634342400,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,321,Lillestrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66474,681807,NaN,UTC,2021-10-23T00:00:00+00:00,1634947200,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,332,Sandefjord,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66490,681823,NaN,UTC,2021-11-06T00:00:00+00:00,1636156800,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,327,Bodo/Glimt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66506,681839,NaN,UTC,2021-11-28T00:00:00+00:00,1638057600,NaN,NaN,1176.0,Brann Stadion,Bergen,...,NaN,333,Sarpsborg 08 FF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66527,693674,D. Hafsås,UTC,2021-05-12T18:00:00+00:00,1620842400,1.620842e+09,1.620846e+09,1176.0,Brann Stadion,Bergen,...,False,326,Valerenga,True,0.0,3.0,0.0,0.0,0.0,3.0
66539,693686,S. Kringstad,UTC,2021-05-24T16:00:00+00:00,1621872000,1.621872e+09,1.621876e+09,1176.0,Brann Stadion,Bergen,...,False,327,Bodo/Glimt,True,1.0,2.0,0.0,0.0,1.0,2.0
66560,693707,S. Moen,UTC,2021-05-30T16:00:00+00:00,1622390400,1.622390e+09,1.622394e+09,1176.0,Brann Stadion,Bergen,...,True,324,Stromsgodset,False,3.0,0.0,2.0,0.0,3.0,0.0
66572,693719,T. Hagen,UTC,2021-06-20T16:00:00+00:00,1624204800,1.624205e+09,1.624208e+09,1176.0,Brann Stadion,Bergen,...,False,330,ODD Ballklubb,True,1.0,3.0,0.0,0.0,1.0,3.0
66591,693738,S. Moen,UTC,2021-06-30T18:00:00+00:00,1625076000,1.625076e+09,1.625080e+09,1176.0,Brann Stadion,Bergen,...,NaN,321,Lillestrom,NaN,1.0,1.0,0.0,0.0,1.0,1.0
66602,699251,M. Aslam,UTC,2021-07-10T18:00:00+00:00,1625940000,1.625940e+09,1.625944e+09,1176.0,Brann Stadion,Bergen,...,NaN,325,Tromso,NaN,1.0,1.0,1.0,1.0,1.0,1.0
66609,699258,Tore Hansen,UTC,2021-07-18T16:00:00+00:00,1626624000,1.626624e+09,1.626628e+09,1176.0,Brann Stadion,Bergen,...,NaN,2152,Mjondalen,NaN,1.0,1.0,0.0,0.0,1.0,1.0
66625,699274,R. Saggi,UTC,2021-08-15T18:00:00+00:00,1629050400,1.629050e+09,1.629054e+09,1176.0,Brann Stadion,Bergen,...,True,332,Sandefjord,False,3.0,2.0,1.0,2.0,3.0,2.0
66641,699290,E. Eskås,UTC,2021-08-28T18:00:00+00:00,1630173600,1.630174e+09,1.630177e+09,1176.0,Brann Stadion,Bergen,...,False,328,Haugesund,True,1.0,3.0,0.0,2.0,1.0,3.0
66666,699315,T. Hagen,UTC,2021-09-26T16:00:00+00:00,1632672000,1.632672e+09,1.632676e+09,1176.0,Brann Stadion,Bergen,...,True,320,Kristiansund BK,False,3.0,1.0,1.0,1.0,3.0,1.0
66682,699331,T. Skjerven,UTC,2021-10-17T15:00:00+00:00,1634482800,1.634483e+09,1.634486e+09,1176.0,Brann Stadion,Bergen,...,NaN,323,Stabaek,NaN,1.0,1.0,0.0,1.0,1.0,1.0
66697,699346,R. Saggi,UTC,2021-10-28T16:00:00+00:00,1635436800,1.635437e+09,1.635440e+09,1176.0,Brann Stadion,Bergen,...,False,759,Viking,True,0.0,2.0,0.0,1.0,0.0,2.0
66713,699362,E. Eskås,UTC,2021-11-06T17:00:00+00:00,1636218000,1.636218e+09,1.636222e+09,1176.0,Brann Stadion,Bergen,...,NaN,331,Rosenborg,NaN,2.0,2.0,2.0,1.0,2.0,2.0
66729,699378,O. Nilsen,UTC,2021-11-28T18:00:00+00:00,1638122400,1.638122e+09,1.638126e+09,1176.0,Brann Stadion,Bergen,...,False,329,Molde,True,0.0,1.0,0.0,0.0,0.0,1.0
66744,699393,O. Nilsen,UTC,2021-12-12T16:00:00+00:00,1639324800,1.639325e+09,1.639328e+09,1176.0,Brann Stadion,Bergen,...,True,333,Sarpsborg 08 FF,False,2.0,1.0,0.0,0.0,2.0,1.0
66752,816642,S. Moen,UTC,2021-12-15T18:00:00+00:00,1639591200,1.639591e+09,1.639595e+09,1203.0,Intility Arena,Oslo,...,False,2151,jerv,True,4.0,4.0,0.0,1.0,1.0,1.0

In [240]:
# When we need to exclude extra fixtures witin Norway Eliteserien, which we can detect by null result features

### League Id 113  Sweden Allsvenskan

In [241]:
check(113).nq

    league.id  league.season  max  min
88        113           2019   32    2
89        113           2020   32    2
90        113           2021   32    2
91        113           2022   32    2

In [243]:
check(113).gf

,name,league.id,league.season,league.country,league.name,league.round
40,AIK Stockholm,113,2019,Sweden,Allsvenskan,30
41,AIK stockholm,113,2016,Sweden,Allsvenskan,30
42,AIK stockholm,113,2017,Sweden,Allsvenskan,30
43,AIK stockholm,113,2018,Sweden,Allsvenskan,30
44,AIK stockholm,113,2020,Sweden,Allsvenskan,30
...,...,...,...,...,...,...
3479,kalmar FF,113,2019,Sweden,Allsvenskan,32
3480,kalmar FF,113,2020,Sweden,Allsvenskan,32
3481,kalmar FF,113,2021,Sweden,Allsvenskan,30
3482,kalmar FF,113,2022,Sweden,Allsvenskan,30
3485,trelleborgs FF,113,2018,Sweden,Allsvenskan,30

In [244]:
check(113).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [245]:
# In Sweeden league we wont add promotions or semi finals

#### League Id 114 Sweden	Superettan

In [247]:
check(114).nq

    league.id  league.season  max  min
92        114           2021   32    2

In [248]:
check(114).gf

,name,league.id,league.season,league.country,league.name,league.round
34,AFC Eskilstuna,114,2021,Sweden,Superettan,30
129,Akropolis,114,2021,Sweden,Superettan,32
1273,GIF Sundsvall,114,2021,Sweden,Superettan,30
1282,Gais,114,2021,Sweden,Superettan,32
1509,Helsingborg,114,2021,Sweden,Superettan,30
1590,IFK Varnamo,114,2021,Sweden,Superettan,30
1592,IK brage,114,2021,Sweden,Superettan,30
1657,Jonkopings Sodra,114,2021,Sweden,Superettan,30
1754,Landskrona BoIS,114,2021,Sweden,Superettan,30
2169,Norrby IF,114,2021,Sweden,Superettan,30
2244,Orgryte IS,114,2021,Sweden,Superettan,30
2259,Osters IF,114,2021,Sweden,Superettan,30
2856,Skövde AIK,114,2021,Sweden,Superettan,2
3213,Vasalund,114,2021,Sweden,Superettan,30
3216,Vasteras SK FK,114,2021,Sweden,Superettan,30
3468,dalkurd FF,114,2021,Sweden,Superettan,2
3472,falkenbergs FF,114,2021,Sweden,Superettan,30
3486,trelleborgs FF,114,2021,Sweden,Superettan,30

In [249]:
check(114).ov

array(['Regular Season - 46', 'Regular Season - 45',
       'Regular Season - 28', 'Regular Season - 44',
       'Regular Season - 43', 'Regular Season - 42',
       'Regular Season - 41', 'Regular Season - 40',
       'Regular Season - 39', 'Regular Season - 38',
       'Regular Season - 33', 'Regular Season - 37',
       'Regular Season - 36', 'Regular Season - 35',
       'Regular Season - 34', 'Regular Season - 32',
       'Regular Season - 31', 'Regular Season - 29',
       'Regular Season - 30', 'Regular Season - 24',
       'Regular Season - 27', 'Regular Season - 26',
       'Regular Season - 25', 'Regular Season - 23',
       'Regular Season - 22', 'Regular Season - 21',
       'Regular Season - 20', 'Regular Season - 19',
       'Regular Season - 18', 'Regular Season - 17',
       'Regular Season - 16', 'Regular Season - 15',
       'Regular Season - 14', 'Regular Season - 13',
       'Regular Season - 12', 'Regular Season - 11',
       'Regular Season - 10', 'Regular Season - 9', 'Regular Season - 8',
       'Regular Season - 7', 'Regular Season - 6', 'Regular Season - 5',
       'Regular Season - 4', 'Regular Season - 3', 'Regular Season - 2',
       'Regular Season - 1', 'Promotion Play-offs - Final',
       'Promotion Play-offs - Semi-finals'], dtype=object)

In [250]:
# In Sweeden league we wont add promotions or semi finals

#### League.id 119

In [251]:
check(119).nq

    league.id  league.season  max  min
93        119           2019   37   32
94        119           2020   33   32
95        119           2021   33   32

In [254]:
check(119).gf

,name,league.id,league.season,league.country,league.name,league.round
8,AC Horsens,119,2019,Denmark,Superliga,34
9,AC Horsens,119,2020,Denmark,Superliga,32
10,AC Horsens,119,2022,Denmark,Superliga,22
70,Aalborg,119,2019,Denmark,Superliga,36
71,Aalborg,119,2020,Denmark,Superliga,33
72,Aalborg,119,2021,Denmark,Superliga,32
73,Aalborg,119,2022,Denmark,Superliga,22
78,Aarhus,119,2019,Denmark,Superliga,37
79,Aarhus,119,2020,Denmark,Superliga,33
80,Aarhus,119,2021,Denmark,Superliga,32
81,Aarhus,119,2022,Denmark,Superliga,22
576,Brondby,119,2019,Denmark,Superliga,36
577,Brondby,119,2020,Denmark,Superliga,32
578,Brondby,119,2021,Denmark,Superliga,33
579,Brondby,119,2022,Denmark,Superliga,22
935,Esbjerg,119,2019,Denmark,Superliga,32
1010,FC Copenhagen,119,2019,Denmark,Superliga,36
1011,FC Copenhagen,119,2020,Denmark,Superliga,32
1012,FC Copenhagen,119,2021,Denmark,Superliga,32
1013,FC Copenhagen,119,2022,Denmark,Superliga,22
1072,FC Midtjylland,119,2019,Denmark,Superliga,36
1073,FC Midtjylland,119,2020,Denmark,Superliga,32
1074,FC Midtjylland,119,2021,Denmark,Superliga,32
1075,FC Midtjylland,119,2022,Denmark,Superliga,22
1076,FC Nordsjaelland,119,2019,Denmark,Superliga,36
1077,FC Nordsjaelland,119,2020,Denmark,Superliga,32
1078,FC Nordsjaelland,119,2021,Denmark,Superliga,32
1079,FC Nordsjaelland,119,2022,Denmark,Superliga,22
1536,Hobro,119,2019,Denmark,Superliga,34
1921,Lyngby,119,2019,Denmark,Superliga,34
1922,Lyngby,119,2020,Denmark,Superliga,32
1923,Lyngby,119,2022,Denmark,Superliga,22
2213,Odense,119,2019,Denmark,Superliga,37
2214,Odense,119,2020,Denmark,Superliga,32
2215,Odense,119,2021,Denmark,Superliga,32
2216,Odense,119,2022,Denmark,Superliga,22
2463,Randers FC,119,2019,Denmark,Superliga,34
2464,Randers FC,119,2020,Denmark,Superliga,32
2465,Randers FC,119,2021,Denmark,Superliga,32
2466,Randers FC,119,2022,Denmark,Superliga,22
2838,Silkeborg,119,2019,Denmark,Superliga,32
2839,Silkeborg,119,2021,Denmark,Superliga,32
2840,Silkeborg,119,2022,Denmark,Superliga,22
2880,Sonderjyske,119,2019,Denmark,Superliga,32
2881,Sonderjyske,119,2020,Denmark,Superliga,32
2882,Sonderjyske,119,2021,Denmark,Superliga,32
3217,Vejle,119,2020,Denmark,Superliga,32
3218,Vejle,119,2021,Denmark,Superliga,32
3266,Viborg,119,2021,Denmark,Superliga,33
3267,Viborg,119,2022,Denmark,Superliga,22